<template>
  <div>
    <tools>
      <div class="agenda-finder">
        <q-search
          hide-underline
          v-model="terms"
          icon="search"
          float-label="Buscar en agenda"
          placeholder="Ingrese código o descripción"
          clearable
        />
      </div>
    </tools>

    <q-table
      grid
      row-key="codigo"
      :data="filteredResults"
      :columns="table.columns"
      :pagination.sync="table.pagination"
      hide-header
    >
      <div
        slot="item"
        slot-scope="props"
        class="q-pa-xs col-xs-12 col-sm-6 col-md-4 col-lg-3 transition-generic"
        :style="props.selected ? 'transform: scale(0.95);' : ''"
      >
        <q-card class="transition-generic card-item" :class="props.selected ? 'bg-grey-2' : ''">
          <q-card-media class="card-media">
            <div class="img-container">
              <img :src="props.row.imagen">
            </div>
          </q-card-media>
          <q-card-separator/>
          <q-card-main class="q-pa-none">
            <q-list no-border>
              <q-item v-for="col in props.cols.filter(col => col.name !== 'desc')" :key="col.name">
                <q-item-main style="height: 45px; overflow: hidden;">
                  <q-item-tile label>{{ col.label }}</q-item-tile>
                  <q-item-tile sublabel>{{ col.value }}</q-item-tile>
                </q-item-main>
              </q-item>
            </q-list>
          </q-card-main>
          <q-card-separator/>
          <q-card-actions class="schedule-actions">
            <q-btn
              class="no-shadow btn-delete"
              flat
              color="negative"
              icon="delete"
              title="Quitar de Agenda"
              @click="deleteItem(props.row)"
            />
            <q-btn
              class="no-shadow btn-publish"
              flat
              title="Publicar en MercadoLibre"
              @click="publicarMeli(props.row)"
            >
              <img src="statics/icons/ml-icon-64x64.png" width="30px">
            </q-btn>
            <q-btn
              class="no-shadow btn-cart"
              color="positive"
              icon="add_shopping_cart"
              title="Agregar a Pedido"
              @click="setQuantity(props.row)"
            />
          </q-card-actions>
        </q-card>
      </div>
    </q-table>

    <dialog-quantity
      :visible="dialog.quantity"
      :item="selectedItem"
      @accept="addToShoppingCart"
      @cancel="dialog.quantity = false"
    />
  </div>
</template>

<script>
import Tools from 'src/components/AppTools'
import DialogQuantity from 'src/components/AppDialogArticulo'

function numberFormat(val) {
  return new Intl.NumberFormat('es-AR', {
    minimumFractionDigits: 2,
    maximumFractionDigits: 2
  }).format(val)
}
export default {
  components: {
    Tools,
    DialogQuantity
  },
  data() {
    return {
      terms: '',
      dialog: {
        quantity: false
      },
      selectedItem: {},
      table: {
        columns: [
          {
            label: 'Código',
            field: 'codigo',
            align: 'center'
          },
          {
            label: 'Descripción',
            field: 'descripcion',
            align: 'left'
          },
          {
            label: 'Precio',
            field: 'precio',
            format: val => numberFormat(val)
          }
        ],
        pagination: {
          rowsPerPage: 24
        }
      }
    }
  },
  methods: {
    deleteItem(row) {
      const user_key = this.$store.state.main.usuario.key
      const codigo = row.codigo

      this.$store.commit('main/delScheduleItem', codigo)
    },

    publicarMeli(articulo) {
      const store = this.$store

      MELI.getLoginStatus(data => {
        if (data.state == 'AUTHORIZED') {
          MELI.get('/users/me', {}, data => {
            store.commit('main/meliUser', data[2])
            this.$router.push('/publicar-ml/' + articulo.codigo)
          })
        } else {
          MELI.login(_ => {
            MELI.get('/users/me', {}, data => {
              store.commit('main/meliUser', data[2])
              this.$router.push('/publicar-ml/' + articulo.codigo)
            })
          })
        }
      })
    },
    setQuantity(row) {
      const articulos_pedido = this.$store.state.main.pedido.articulos
      const exists =
        articulos_pedido &&
        articulos_pedido.filter(el => el.codigo == row.codigo)
      if (exists && exists.length > 0) {
        this.$q.dialog({
          title: 'Error',
          message:
            'El artículo ya se encuentra en el pedido actual. Modifíquelo desde el pedido.',
          color: 'primary',
          ok: true
        })
      } else {
        this.selectedItem = row
        this.dialog.quantity = true
      }
    },

    addToShoppingCart(row) {
      const user_key = this.$store.state.main.usuario.key
      const code = row.codigo.toString()

      const scheduleRef = this.$database
        .ref(`datos/usuarios/${user_key}/agenda`)
        .child(code)

      this.$store.commit('main/articulosPedido', row)

      scheduleRef.remove()

      this.dialog.quantity = false

      const index = this.results.indexOf(row)
      this.results.splice(index, 1)
    }
  },
  computed: {
    filteredResults() {
      const products = this.$store.state.main.agenda.articulos
      const terms = this.terms

      if (terms.length) {
        if (!isNaN(terms)) {
          return products.filter(el => el.codigo == terms)
        } else {
          const termsParts = terms.toLowerCase().split(' ')
          return products.filter(product =>
            termsParts.every(
              term => product.descripcion.toLowerCase().search(term) != -1
            )
          )
        }
      } else {
        return products
      }
    }
  }
}
</script>