<template>
  <div class="container cart-bg" style="background: url('./statics/ventas_bg_okn.png') fixed">
    <loading :visible="loading" caption="Cargando artículos..."/>
    <div class="row gutter-sm">
      <div
        class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12"
        v-for="(articulo, index) in filtrados"
        :key="index"
      >
        <q-card inline class="card-item bg-white">
          <div class="promo" v-show="articulo.valor_absoluto && categoria > 0">
            PROMOCION
            <q-btn icon="info" flat round dense size="sm">
              <q-tooltip>Los artículos en promoción no admiten descuentos extra.</q-tooltip>
            </q-btn>
          </div>
          <br>
          <q-card-media class="card-media">
            <div class="img-container">
              <img
                :src="articulo.imagen"
                class="card-imagen"
                onload="this.style.display='block'"
                onerror="this.style.display='none'"
              >
            </div>
          </q-card-media>
          <q-card-title class="card-title">
            <div class="card-codigo">{{ articulo.codigo }}</div>
            <div class="product-into">
              <q-icon
                name="star"
                :color="inAgenda(articulo.codigo) ? 'yellow-8' : 'grey-5'"
                title="En Agenda"
              />
              <q-icon
                name="shopping_cart"
                :color="inPedido(articulo.codigo) ? 'green-5' : 'grey-5'"
                title="En Pedido"
              />
            </div>
          </q-card-title>
          <q-card-main>
            <p class="card-descripcion">{{ articulo.descripcion }}</p>
            <p
              class="card-precio"
              v-if="!$store.state.main.preciosAr"
            >{{ articulo.precio | numberFormat }}</p>
            <p
              class="card-precioAr"
              v-else
            >{{ articulo.precio * $store.state.main.dolar | numberFormat }}</p>
          </q-card-main>
          <q-card-actions align="center">
            <q-btn-dropdown
              class="dropdown-menu-card no-shadow"
              icon="keyboard_arrow_down"
              color="tertiary"
            >
              <q-list link>
                <q-item @click.native="publicarMeli(articulo)" v-close-overlay>
                  <q-item-side>
                    <img src="statics/icons/ml-icon-64x64.png" width="30px">
                  </q-item-side>
                  <q-item-main>
                    <q-item-tile label>Publicar en MercadoLibre</q-item-tile>
                  </q-item-main>
                </q-item>
                <q-item @click.native="agendar(articulo)" v-close-overlay>
                  <q-item-side icon="star"/>
                  <q-item-main>
                    <q-item-tile label>Agendar</q-item-tile>
                  </q-item-main>
                </q-item>
              </q-list>
            </q-btn-dropdown>
            <q-btn
              color="primary"
              class="no-shadow"
              icon="shopping cart"
              @click="setCantidad(articulo)"
            >Agregar</q-btn>
          </q-card-actions>
        </q-card>
      </div>
    </div>
    <dialog-cantidad
      :visible="dialogCantidad"
      :item="selectedItem"
      @accept="addItem"
      @cancel="dialogCantidad = false"
    />
  </div>
</template>

<script>
let timer
import DialogCantidad from 'src/components/AppDialogArticulo'
import Loading from 'src/components/AppLoading'
export default {
  components: {
    DialogCantidad,
    Loading
  },
  props: ['research'],
  data() {
    return {
      dialogCantidad: false,
      selectedItem: {},
      terms: '',
      results: [],
      bucketUrl: 'http://storage.googleapis.com/okinoi-94a39.appspot.com/articulos_lowercase/'
    }
  },
  methods: {
    inAgenda(codigo) {
      const find = this.$store.state.main.agenda.articulos.filter(item => item.codigo == codigo)
      return find.length
    },
    inPedido(codigo) {
      if (this.$store.state.main.pedido.articulos) {
        const find = this.$store.state.main.pedido.articulos.filter(item => item.codigo == codigo)
        return find.length
      } else {
        return false
      }
    },
    inPendientes(codigo) {
      if (this.$store.state.main.pendientes) {
        const find = this.$store.state.main.pendientes.filter(item => item.codigo == codigo)
        return find.length
      } else {
        return false
      }
    },
    hasScrolled(scroll) {
      this.searchBarVisible = scroll.direction === 'down' && scroll.position !== 0
    },
    setCantidad(row) {
      const articulos_pedido = this.$store.state.main.pedido.articulos
      const exists = articulos_pedido && articulos_pedido.filter(el => el.codigo == row.codigo)
      if (exists && exists.length > 0) {
        this.$q.dialog({
          title: 'Error',
          message: 'El artículo ya se encuentra en el pedido actual. Modifíquelo desde el pedido.',
          color: 'primary',
          ok: true
        })
      } else {
        this.selectedItem = row
        this.dialogCantidad = true
      }
    },
    addItem(val) {
      if (!this.$store.state.main.connection) {
        this.$q.notify({
          type: 'negative',
          message: 'Acción denegada, no hay acceso a Internet.'
        })
        return null
      }

      this.$store.commit('main/articulosPedido', val)
      this.$store.commit('history/setSearchInput', true)
      
      const pedido = this.$store.state.main.pedido
      const ref = this.$database.ref(`datos/usuarios/${this.$store.state.main.usuario.key}/temp`)
      ref.set(pedido).then(() => {
        this.$q.notify({
          message: 'Artículo guardado correctamente correctamente.',
          type: 'positive'
        })
      })

      this.dialogCantidad = false
    },
    search(value) {
      const filtrados = []

      if (value.length) {
        let resultados = []

        const articulos = this.$store.state.main.articulos
        if (!isNaN(value)) {
          // si es un número
          resultados = articulos.filter(articulo => articulo.codigo == value)
        } else {
          const parts = value.toLowerCase().split(' ')
          resultados = articulos.filter(articulo =>
            parts.every(word => articulo.descripcion.toLowerCase().search(word) !== -1)
          )
        }
        for (let i = 0; i < resultados.length && i < this.pageSize; i++) {
          resultados[i].imagen = this.bucketUrl + resultados[i].codigo + '.jpg'
          filtrados.push(resultados[i])

          this.$store.commit('history/saveSearchResults', filtrados)
        }
        if (!resultados.length) {
          this.$q.notify({
            position: 'center',
            type: 'negative',
            color: 'negative',
            message: 'No se encontraron resultados.'
          })
        }
      }
    },
    publicarMeli(articulo) {
      const store = this.$store

      MELI.getLoginStatus(data => {
        if (data.state == 'AUTHORIZED') {
          MELI.get('/users/me', {}, data => {
            store.commit('main/meliUser', data[2])
            this.$router.push('/publicar-ml/' + articulo.codigo)
          })
        } else {
          MELI.login(_ => {
            MELI.get('/users/me', {}, data => {
              store.commit('main/meliUser', data[2])
              this.$router.push('/publicar-ml/' + articulo.codigo)
            })
          })
        }
      })
    },
    agendar(articulo) {
      this.$store.commit('main/addToSchedule', articulo)
    }
  },
  computed: {
    loading() {
      return !this.$store.state.main.articulos.length
    },
    busqueda() {
      return this.$store.state.history.search.terms
    },
    pageSize() {
      return this.$store.state.history.pageSize
    },
    filtrados() {
      return this.$store.state.history.search.results
    },
    categoria() {
      return this.$store.state.main.cliente.categoria || 0
    }
  },
  watch: {
    busqueda(value) {
      clearTimeout(timer)

      this.$store.commit('history/saveSearchResults', [])

      if (value.length) {
        timer = setTimeout(() => {
          this.search(value)
        }, 1000)
      }
    }
  },
  filters: {
    numberFormat(val) {
      return new Intl.NumberFormat('es-AR', {
        minimumFractionDigits: 2,
        maximumFractionDigits: 2
      }).format(val)
    }
  }
}
</script>