<template>
  <div>
    <tools>
      <q-btn
        flat
        round
        icon="arrow_back"
        title="Volver"
        @click="results = []"
        v-if="results.length"
      />
    </tools>
    <div class="layout-padding" v-if="!results.length">
      <div class="section-title">
        <q-icon name="pageview"/>CONSULTA DE PEDIDOS
      </div>
      <div class="separator"/>
      <div class="row gutter-md">
        <div class="col-sm-6 col-xs-12">
          <q-datetime v-model="dates.from" format="DD/MM/YYYY" float-label="Desde"/>
        </div>
        <div class="col-sm-6 col-xs-12">
          <q-datetime v-model="dates.to" format="DD/MM/YYYY" float-label="Hasta"/>
        </div>
        <div class="col-sm-4 offset-sm-4 col-xs-12">
          <div class="separator"/>
          <q-btn color="primary" class="no-shadow full-width" label="Aceptar" @click="getResults"/>
        </div>
      </div>
    </div>
    <div v-if="results.length">
      <q-table :data="results" :columns="table.columns" :pagination.sync="table.pagination">
        <q-tr
          slot="body"
          slot-scope="props"
          :props="props"
          @click.native="openOrder(props.row.order_id)"
          class="cursor-pointer"
        >
          <q-td v-for="col in props.cols" :key="col.name" :props="props">{{ col.value }}</q-td>
        </q-tr>
      </q-table>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import Tools from 'src/components/AppTools'

function formatNumber(val) {
  return new Intl.NumberFormat('es-AR', {
    style: 'currency',
    currency: 'USD',
    minimumFractionDigits: 2,
    maximumFractionDigits: 2
  }).format(val)
}
export default {
  components: {
    Tools
  },
  data() {
    return {
      results: [],
      dates: {
        from: '',
        to: ''
      },
      table: {
        columns: [
          {
            label: 'Fecha',
            field: 'fecha_pedido',
            name: 'fecha',
            format: val => moment.unix(val / 1000).format('DD/MM/YYYY'),
            align: 'center',
            sortable: true
          },
          {
            label: 'Número',
            field: 'numero',
            name: 'numero',
            align: 'center'
          },
          {
            label: 'Usuario',
            field: 'usuario',
            name: 'usuario',
            align: 'center',
            sortable: true
          },
          {
            label: 'Estado',
            field: 'estado',
            name: 'estado',
            align: 'left',
            sortable: true
          },
          {
            label: 'Importe',
            field: 'importe',
            name: 'importe',
            format: val => formatNumber(val),
            sortable: true
          }
        ],
        pagination: {
          sortBy: 'fecha',
          descending: true
        }
      }
    }
  },
  methods: {
    getResults() {
      setTimeout(() => {
        if (!this.results.length) {
          this.$q.notify({
            message: 'No se encontraron resultados',
            type: 'negative'
          })
        }
      }, 3000)

      const client_id = this.$store.state.main.usuario.id

      this.$store.commit('main/rangoConsultaPedidos', this.dates)

      const from =
        moment(this.dates.from)
          .startOf('day')
          .unix() * 1000
      const to =
        moment(this.dates.to)
          .endOf('day')
          .unix() * 1000

      const ref = this.$database
        .ref('datos/clientes/' + client_id + '/pedidos')
        .orderByKey()
        .startAt(from.toString())
        .endAt(to.toString())

      ref.on('value', snapshot => {
        const results = []
        snapshot.forEach(item => {
          const order = item.val()

          if(order.articulos && order.order_id) {

              order.fecha_pedido = order.order_id
              order.importe = !order.total_order ? order.total_carrito : order.total_order
              order.items = Object.values(order.articulos).length
              order.numero = order.order_id

              results.push(order)

          }
          
        })

        this.results = results
      })
    },
    openOrder(order_id) {
      this.$router.push('/ver-pedido/' + order_id)
    }
  },
  created() {
    const rango_consulta_pedidos = this.$store.state.main.rango_consulta_pedidos

    if (Object.values(rango_consulta_pedidos).length) {
      this.dates = rango_consulta_pedidos
      this.getResults()
    } else {
      this.dates.from = this.$moment()
        .subtract(1, 'month')
        .toDate()
      this.dates.to = this.$moment().toDate()
    }
  }
}
</script>

