<template>
  <div>
    <loading :visible="loading" caption="Cargando ..."/>
    <tools v-if="resumen.length">
      <q-btn icon="arrow_back" flat round @click="volver()"/>
    </tools>
    <q-page>
      <div class="layout-padding" v-if="!resumen.length">
        <div class="section-title">
          <q-icon name="account_balance"/>CONSULTA DE FACTURAS
        </div>
        <div class="row gutter-sm">
          <div class="col-xs-12 col-sm-6">
            <q-datetime float-label="Desde" v-model="rango.desde" format="DD/MM/YYYY"/>
          </div>
          <div class="col-xs-12 col-sm-6">
            <q-datetime float-label="Hasta" v-model="rango.hasta" format="DD/MM/YYYY"/>
          </div>
          <div class="col-xs-12 col-sm-4 offset-sm-4">
            <div class="separator"></div>
            <q-btn color="primary" class="full-width no-shadow" @click="getResumen">Ver Resumen</q-btn>
          </div>
        </div>
      </div>
      <div v-else>
        <q-table :data="resumen" :columns="columns" :pagination.sync="paginacion" row-key="id">
          <q-tr
            slot="body"
            slot-scope="props"
            :props="props"
          >
            <q-td v-for="col in props.cols" :key="col.name" :props="props">{{ col.value }}</q-td>
            <q-td align="center">
              <q-btn flat label="Ver" v-if="descargable(props.row.tipo)" @click="abrirComprobante(props.row)" icon="launch" />
            </q-td>
          </q-tr>
        </q-table>
      </div>
    </q-page>
  </div>
</template>

<script>
import Tools from 'src/components/AppTools'
import Loading from 'src/components/AppLoading'
import moment from 'moment'
export default {
  components: {
    Tools,
    Loading
  },
  data() {
    return {
      loading: false,
      rango: {
        desde: '',
        hasta: ''
      },
      resultados: [],
      columns: [
        {
          label: 'Fecha',
          field: 'fechaUnix',
          name: 'fechaUnix',
          format: val => moment.unix(val).format('DD/MM/YYYY'),
          align: 'center'
        },
        {
          label: 'Tipo',
          field: 'tipo',
          name: 'tipo',
          align: 'center'
        },
        {
          label: 'Número',
          field: 'numero',
          name: 'numero',
          align: 'center'
        },
        {
          label: 'Monto',
          field: 'importe',
          name: 'importe',
          format: val =>
            new Intl.NumberFormat('es-AR', {
              maximumFractionDigits: 2,
              minimumFractionDigits: 2
            }).format(val)
        }
      ],
      paginacion: {
        rowsPerPage: 10,
        sortBy: 'fechaUnix',
        descending: true
      }
    }
  },
  methods: {
    getResumen() {
      this.loading = true
      const ref = this.$database.ref(
        'datos/clientes/' + this.$store.state.main.usuario.id + '/cuenta'
      )
      ref.on('value', res => {
        const resultados = []
        const filtrados = []
        res.forEach(item => {
          const mov = item.val()
          const index = item.key
          let doc = {}
          switch (mov.type) {
            case 'fac': {
              doc.id = index
              doc.fechaUnix = this.$moment(
                mov.fecha_factura,
                'DD/MM/YYYY'
              ).unix()
              doc.tipo = 'FC'
              doc.numero = parseInt(mov.factura_nro)
              doc.fecha = mov.fecha_factura
              doc.importe = mov.total_factura || mov.total_pesos
              break
            }
            case 'not': {
              doc.id = index
              doc.fechaUnix = this.$moment(mov.fecha_nota, 'DD/MM/YYYY').unix()
              doc.tipo = 'NC'
              doc.numero = parseInt(mov.nota_nro)
              doc.fecha = mov.fecha_nota
              doc.importe = -mov.total_pesos
              break
            }
            case 'not_d': {
              doc.id = index
              doc.fechaUnix = this.$moment(mov.fecha_nota, 'DD/MM/YYYY').unix()
              doc.tipo = 'ND'
              doc.numero = parseInt(mov.nota_nro)
              doc.fecha = mov.fecha_nota
              doc.importe = -mov.total_pesos
              break
            }
            case 'pago': {
              let importe = 0
              if (mov.metodos) {
                importe = mov.metodos.reduce((acc, item) => {
                  if (item.tipo == 'dolares') {
                    acc += Number(item.tipo_cambio * item.importe)
                  } else {
                    acc += Number(item.importe)
                  }
                  return acc
                }, 0)
              } else {
                importe = mov.importe
              }
              doc.id = index
              doc.fechaUnix = this.$moment(mov.fecha_pago, 'DD/MM/YYYY').unix()
              doc.tipo = 'RC'
              doc.numero = parseInt(mov.ci)
              doc.fecha = mov.fecha_pago
              doc.importe = -importe
              break
            }
          }
          if (!mov.resumen || mov.resumen.includes('pesos')) {
            resultados.push(doc)

            // obtener filtrados por fecha
            const desde = this.$moment(this.rango.desde)
              .startOf('day')
              .unix()
            const hasta = this.$moment(this.rango.hasta)
              .endOf('day')
              .unix()

            if (doc.fechaUnix >= desde && doc.fechaUnix <= hasta) {
              filtrados.push(doc)
            }
          }
        })
        this.resultados = resultados
        this.filtrados = filtrados
        this.loading = false
      })
    },
    volver() {
      this.$database
        .ref('datos/clientes/' + this.$store.state.main.usuario.id + '/cuenta')
        .off()
      this.resultados = []
    },
    descargable(tipo) {
      return tipo == 'FC' || tipo == 'NC'
    },
    abrirComprobante(row) {
      if (row.tipo == 'FC') {
        window.open('statics/factura.html?id=' + row.id)
      }
      if (row.tipo == 'NC') {
        window.open('statics/nota_credito.html?id=' + row.id)
      }
    }
  },
  computed: {
    saldo() {
      return this.resultados.reduce((acc, mov) => {
        acc += !isNaN(mov.importe) ? Number(mov.importe) : 0
        return acc
      }, 0)
    },
    resumen() {
      const movimientos = this.$lodash.orderBy(this.resultados, ['fechaUnix'])
      return movimientos.reduce((acc, mov) => {
        if (
          mov.fechaUnix >= this.$moment(this.rango.desde).unix() &&
          mov.fechaUnix <= this.$moment(this.rango.hasta).unix()
        )
          acc.push(mov)
        return acc
      }, [])
    }
  },

  filters: {
    number(value) {
      return new Intl.NumberFormat('es-AR', {
        minimumFractionDigits: 2,
        maximumFractionDigits: 2
      }).format(value)
    }
  },
  created() {
    this.rango.desde = this.$moment()
      .subtract(2, 'month')
      .startOf('month')
      .toDate()
    this.rango.hasta = this.$moment()
      .endOf('month')
      .toDate()
  }
}
</script>

