<template>
    <q-page class="flex flex-center">
        <div class="items-container">
            <div class="menu-item" v-for="(item, index) in menuItems" :key="index" @click="$router.push(item.href)">
                <div class="content">
                    <q-icon :name="item.icon" />
                    <p>{{ item.label }}</p>
                </div>

                <div class="filter"></div>

            </div>
        </div>
    </q-page>
</template>

<style>
</style>

<script>
import MenuItems from 'src/services/menuItems'
export default {
    name: 'PageIndex',
    computed: {
        menuItems() {
            return this.$lodash.orderBy(MenuItems, ['label'])
        }
    }
}
</script>
