<template>
  <div>
    <loading :visible="loading" :caption="status"/>
    <q-tabs color="tertiary" no-pane-border align="justify" v-if="hasArticles">
      <q-tab default slot="title" name="pedido" label="RESUMEN"/>
      <q-tab slot="title" name="finalizar" label="FINALIZAR PEDIDO"/>
      
      <div class="cart-resume">
        <ul>
          <li>Tipo de Cambio: <strong>{{ $store.state.main.dolar }}</strong></li>
          <li v-if="descuento_e > 0">Descuento Cliente: <strong>{{ descuento_e + '%'}}</strong></li>
          <li><span class="hightlight-doc promo"></span> Artículo en promoción no admite descuentos.</li>
        </ul>
      </div>
      <!-- Resumen del pedido -->
      <q-tab-pane name="pedido" style="padding:0">
        <tools hide-underline>
          <div class="search-wrapper">
            <q-search
              v-model="terms"
              icon="search"
              float-label="Buscar por código o descripción"
              clearable
            />
          </div>
        </tools>
        <order-table :terms="terms" :articulos="pedidoStore.articulos"/>
      </q-tab-pane>

      <!-- Finalizar Pedido -->
      <q-tab-pane name="finalizar">
        <div class="layout-padding">
          <div class="row gutter-md">
            <div class="col-xs-12">
              <q-input type="text" v-model="cliente.razon_social" float-label="Cliente" readonly/>
            </div>
            <div class="col-xs-12">
              <q-search
                float-label="Transporte"
                :error="$v.pedido.transporte.$error"
                @blur="$v.pedido.transporte.$touch"
                v-model="transporteTerms"
                clearable
                @clear="pedido.transporte = '', nombreTransporte = false"
              >
                <q-autocomplete
                  :static-data="{ field: 'label', list: $store.state.main.transportes }"
                  :min-characters="3"
                  @selected="transporteSelected"
                />
              </q-search>
            </div>
            <div class="col-xs-12">
              <q-toggle v-model="redespacho" label="Redespacho" @input="habilitaRedespacho()"/>
            </div>
            <div class="col-xs-12" v-if="redespacho">
              <q-search
                :error="$v.pedido.redespacho.$error"
                @blur="$v.pedido.redespacho.$touch"
                float-label="Transporte de Redespacho"
                v-model="redespachoTerms"
                clearable
                @clear="pedido.redespacho = '', nombreRedespacho = false"
              >
                <q-autocomplete
                  :static-data="{ field: 'label', list: $store.state.main.transportes }"
                  :min-characters="3"
                  @selected="redespachoSelected"
                />
              </q-search>
            </div>
            <div class="col-xs-12">
              <q-input type="textarea" float-label="Observaciones" v-model="pedido.observacion"/>
            </div>
            <div class="col-xs-12 col-md-3 offset-md-9">
              <q-btn
                class="full-width no-shadow"
                color="primary"
                icon="send"
                @click="enviarPedido"
              >Enviar</q-btn>
            </div>
          </div>
        </div>
      </q-tab-pane>
    </q-tabs>
    <div v-else class="splash flex flex-center">
      <div class="info">
        <div class="info-title">
          Pedido vacío
          <div class="btn-goto" @click="$router.push('/catalogo')">Agregue productos del catálogo</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Loading from 'src/components/AppLoading'
import OrderTable from 'src/components/AppOrderTable'
import Tools from 'src/components/AppTools'
import { filter } from 'quasar'
import { required, requiredIf } from 'vuelidate/lib/validators'
import { mapGetters } from 'vuex'

function numberFormat(currency, value) {
  return new Intl.NumberFormat('es-AR', {
    style: 'currency',
    currency: currency,
    minimumFractionDigits: 2,
    maximumFractionDigits: 2
  }).format(value)
}

export default {
  components: {
    Loading,
    OrderTable,
    Tools
  },
  data() {
    return {
      loading: false,
      status: '',
      terms: '',
      redespachoTerms: '',
      transporteTerms: '',
      clienteTerms: '',
      redespacho: false,
      nombreCliente: false,
      selected: [],
      pedido: this.$store.state.main.pedido
    }
  },
  validations: {
    pedido: {
      transporte: { required },
      redespacho: {
        required: requiredIf(function() { return this.redespacho })
      }
    }
  },
  methods: {
    getNumber() {
      return this.$firestore
        .collection('contadores')
        .doc('carritos')
        .get()
        .then(res => {
          const result = res.data()
          let number = 1
          if (result) {
            number = parseInt(result.numero) + 1
          }

          return number
        })
    },
    setNumber(order_number) {
      this.$firestore
        .collection('contadores')
        .doc('carritos')
        .set({ numero: parseInt(order_number) })
    },
    transporteSelected(transporte) {
      this.pedido.transporte = transporte.value
      this.nombreTransporte = transporte.label
      this.$store.commit('main/setTransportePedido', transporte.value)
    },
    redespachoSelected(transporte) {
      this.pedido.redespacho = transporte.value
      this.$store.commit('main/setTransportePedido', transporte.value)
    },
    habilitaRedespacho() {
      if (this.redespacho) {
        this.pedido.redespacho = ''
      } else {
        this.pedido.redespacho = false
      }
    },
    dataControl() {
      this.$v.pedido.$touch()
      if (this.$v.pedido.$error) {
        this.$q.notify({
          message: 'Por favor, complete los campos resaltados en rojo.',
          type: 'negative',
          color: 'negative'
        })

        return false
      } else {
        return true
      }
    },
    confirm() {
      return this.$q
        .dialog({
          title: 'Confirmar',
          message: `¿Confirma el envío del pedido a Okinoi?`,
          cancel: {
            label: 'Cancelar',
            color: 'tertiary',
            flat: true
          },
          ok: {
            label: 'Aceptar',
            color: 'primary',
            flat: true
          }
        })
        .then(() => true)
        .catch(() => false)
    },
    enviarPedido: async function() {
      const dataControl = this.dataControl()
      if (!dataControl) return null

      const confirmation = await this.confirm()
      if (!confirmation) return null

      this.loading = true
      this.status = 'Enviando pedido ...'

      // primero le doy formato
      const articulos = this.pedido.articulos
      const promises = []
      const pedidoFormateado = {}

      pedidoFormateado.order_number = await this.getNumber()

      articulos.forEach(articulo => {
        const ref = this.$database.ref(`datos/articulos/${articulo.codigo}`)
        pedidoFormateado.articulos = {}
        promises.push(
          ref.once('value').then(res => {
            pedidoFormateado.articulos[articulo.codigo] = res.val()
            pedidoFormateado.articulos[articulo.codigo].cantidad =
              articulo.cantidad
            pedidoFormateado.articulos[articulo.codigo].observacion =
              articulo.observacion || ''
          })
        )
      })
      Promise.all(promises).then(() => {
        pedidoFormateado.cliente = this.$store.state.main.usuario.id.toString()
        pedidoFormateado.vendedor_asignado = this.$store.state.main.cliente.vendedor || 'sin_vendedor'
        pedidoFormateado.total_carrito = this.totalCarrito
        pedidoFormateado.order_id = new Date().getTime()
        pedidoFormateado.estado = 'Pendiente'
        pedidoFormateado.usuario = this.$store.state.main.usuario.key
        pedidoFormateado.vendedor = 'Cliente'
        pedidoFormateado.observacion = this.pedido.observacion || ''

        // asigno transportes
        if (!pedidoFormateado.transporte)
          pedidoFormateado.transporte = this.transporteTerms
        if (!pedidoFormateado.redespacho)
          pedidoFormateado.redespacho = this.redespachoTerms

        const tasks = []

        // guarda pedido en temporales
        tasks.push(
          this.$database
            .ref(`datos/pedidos/temporales/${pedidoFormateado.order_id}`)
            .set(pedidoFormateado)
        )

        // guarda pedido en historial de pedidos del cliente
        tasks.push(
          this.$database
            .ref(
              'datos/clientes/' + this.$store.state.main.usuario.id + '/pedidos'
            )
            .child(pedidoFormateado.order_id)
            .set(pedidoFormateado)
        )

        Promise.all(tasks).then( async () => {
          this.$q.notify({
            message: `Pedido enviado exitosamente.`,
            type: 'positive',
            color: 'positive'
          })
          await this.clearCart()
          this.$router.push({ path: '/' })
          this.setNumber(pedidoFormateado.order_number)
        })
      })
    },

    clearCart() {
      this.$store.commit('main/clearCart')
      const pedido = this.$store.state.main.pedido
      this.$database
        .ref(`datos/usuarios/${this.$store.state.main.usuario.key}/temp`)
        .set(pedido)
    }
  },
  computed: {
    descuento_e() {
      return this.$store.state.main.cliente.categoria || 0
    },
    pedidoStore() {
      return this.$store.state.main.pedido
    },
    hasArticles() {
      return this.pedidoStore.articulos && this.pedidoStore.articulos.length
    },
    totalCarrito() {
      let total = this.$store.getters['main/totalCarrito']
      return Math.round(total * 100) / 100
    },
    cliente() {
      return this.$store.state.main.cliente
    }
  },
  filters: {
    dolares(val) {
      return new Intl.NumberFormat('es-AR', {
        currency: 'USD',
        style: 'currency',
        minimumFractionDigits: 2,
        maximumFractionDigits: 2
      }).format(val)
    },
    pesos(val) {
      return new Intl.NumberFormat('es-AR', {
        currency: 'ARS',
        style: 'currency',
        minimumFractionDigits: 2,
        maximumFractionDigits: 2
      }).format(val)
    },
    number(val) {
      return new Intl.NumberFormat('es-AR', {
        minimumFractionDigits: 2,
        maximumFractionDigits: 2
      }).format(val)
    }
  },
  created: async function() {
    this.transporteTerms = await this.$database
      .ref(
        'datos/clientes_lite/' +
          this.$store.state.main.usuario.id +
          '/transporte'
      )
      .once('value')
      .then(res => res.val())
  }
}
</script>

<style scoped lang="stylus">
@import '~variables'
.header-tools
  position absolute
  right 10px

.seleccionado
  margin 10px 0
</style>
