<template>
  <div>
    <loading :visible="loading" caption="Cargando ..."/>

    <div class="ml-indicators">
      <span class="prod-desc">{{ product.description }}</span>
      Usuario MercadoLibre:
      <b>{{ $store.state.main.meli_user.nickname }}</b>
    </div>
    <div class="separator"></div>
    <q-page padding>
      <q-stepper ref="stepper">
        <q-step
          default
          title="Categorización"
          subtitle="Elija las categorías adecuadas para su publicación"
        >
          <div class="row gutter-sm">
            <div class="col-xs-12">
              <div class="product-title">{{ product.description }}</div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <q-select
                :options="categories"
                float-label="Categoria"
                v-model="product.category"
                @input="getSubcategory"
              />
            </div>

            <div
              class="col-xs-12 col-sm-6 col-md-4"
              v-for="(subgroup, index) in subcategories"
              :key="index"
            >
              <q-select
                filter
                autofocus-filter
                :options="subgroup"
                float-label="Subcategoria"
                v-model="product.subcategories[index]"
                @input="getNextSubcategory($event, index)"
              />
            </div>
          </div>

          <div class="step-navigation-bar">
            <q-stepper-navigation>
              <q-btn
                flat
                @click="$refs.stepper.next(), getAttributes(product.subcategories[product.subcategories.length - 1]), getShippingMethods(product.subcategories[product.subcategories.length - 1])"
                label="Siguiente"
                color="primary"
              />
            </q-stepper-navigation>
          </div>
        </q-step>
        <q-step title="Datos Principales" subtitle="Características del Artículo">
          <div class="row gutter-md">
            <div class="col-md-3 col-xs-12">
              <!-- imagen -->
              <div class="img-preview-container">
                <img :src="product.image" class="img-fluid">
              </div>
            </div>
            <div class="col-md-9">
              <!-- datos principales -->
              <div class="row gutter-sm">
                <div class="col-xs-12">
                  <q-input v-model="product.description" type="text" float-label="Título"/>
                </div>
                <div class="col-xs-12 col-sm-3">
                  <q-field icon="attach_money">
                    <q-input
                      v-model="product.base_price"
                      @input="updateMargin(product.base_price, product.precio)"
                      type="number"
                      float-label="Precio"
                    />
                  </q-field>
                </div>
                <div class="col-xs-12 col-sm-3">
                  <q-input
                    v-model="margin"
                    type="number"
                    @input="updateBasePrice"
                    float-label="Márgen (%)"
                  />
                </div>
                <div class="col-xs-12 col-sm-3">
                  <q-select
                    :options="[{ label: 'Pesos Argentinos', value: 'ARS' }]"
                    v-model="product.currency_id"
                    float-label="Moneda"
                  />
                </div>

                <div class="col-xs-12 col-sm-3">
                  <q-input v-model="product.stock" type="number" float-label="Disponibilidad"/>
                </div>
                <div class="col-xs-12">
                  <q-field icon="videocam">
                    <q-input
                      v-model="product.video"
                      type="text"
                      float-label="Video YouTube"
                      placeholder="https://youtu.be/XXXXXX"
                    />
                  </q-field>
                </div>
              </div>
            </div>
          </div>
          <div class="separator"/>
          <div class="row gutter-sm">
            <div class="col-xs-12">
              <q-input
                v-model="product.details"
                type="textarea"
                float-label="Descripción Detallada"
              />
            </div>
          </div>
          <div class="step-navigation-bar">
            <q-stepper-navigation>
              <q-btn flat @click="$refs.stepper.previous()" label="Atrás" color="tertiary"/>
              <q-btn flat @click="$refs.stepper.next()" label="Siguiente" color="primary"/>
            </q-stepper-navigation>
          </div>
        </q-step>
        <q-step title="Datos Secundarios" subtitle="Mejore la exposición del producto">
          <div class="row gutter-sm" v-if="attributes.length">
            <div class="col-sm-6" v-for="attr in attributes" :key="attr.id">
              <div
                v-if="(attr.value_type == 'string' || attr.value_type == 'number' || attr.value_type == 'number_unit')"
              >
                <q-input
                  :readonly="attr.tags.fixed || attr.tags.readonly"
                  :type="attr.tags.fixed ? 'text' : valueType(attr.value_type)"
                  :float-label="attr.name"
                  :class="{ 'with-units': attr.allowed_units }"
                  v-model="attr.value_name"
                />
                <q-select
                  :options="selectOptionsFormat(attr.allowed_units)"
                  v-if="attr.allowed_units"
                  class="units"
                  float-label="Unidad"
                  :value="attr.allowed_units[0].name"
                  v-model="attr.default_unit"
                />
              </div>
              <div v-if="attr.values && attr.value_type == 'list'">
                <q-select
                  :options="selectOptionsFormat(attr.values)"
                  :float-label="attr.name"
                  v-model="attr.value_name"
                />
              </div>
              <div v-if="attr.value_type == 'boolean'" style="padding: 30px 0 0 0">
                <q-toggle
                  v-model="attr.value_name"
                  :label="attr.name"
                  :value="attr.values.filter(val => !val.metadata.value)[0].name"
                  :true-value="attr.values.filter(val => val.metadata.value)[0].name"
                  :false-value="attr.values.filter(val => !val.metadata.value)[0].name"
                />
              </div>
            </div>
          </div>
          <div class="step-navigation-bar">
            <q-stepper-navigation>
              <q-btn flat @click="$refs.stepper.previous()" label="Atrás" color="tertiary"/>
              <q-btn flat @click="$refs.stepper.next()" label="Siguiente" color="primary"/>
            </q-stepper-navigation>
          </div>
        </q-step>
        <q-step title="Confirmar Publicación" subtitle="Defina medios de pago y envío">
          <div class="nota" style="margin: 10px 10px 20px 10px">
            <q-icon name="info"/>
            <p>
              ATENCION:
              Esta herramienta permite la publicación del artículo con sus propiedades y datos principales. Recomendamos revisar y controlar los mismos en su cuenta de Mercado Libre una vez realizada la publicación.
            </p>
          </div>
          <fieldset class="metodos-envio" v-if="shipping_methods.length">
            <legend>Métodos de Envío</legend>
            <ul>
              <li style="padding: 10px" v-for="(shipping, index) in shipping_methods" :key="index" :class="{ 'custom-shipping': shipping.value == 'custom' }">
                <q-checkbox :label="shipping.label" v-model="shipping.state"/>
                <q-btn class="add-custom-shipping" flat label="Agregar Tarifa" @click="addCustomShipping" icon="add" v-show="shipping.state && shipping.value == 'custom'" color="primary" />
                <div v-if="shipping.value == 'custom' && shipping.state">
                <div class="row gutter-xs shipping-list" v-for="(custom, index) in custom_shippings" :key="index">
                  <div class="col-sm-7">
                    <q-input type="text" float-label="Descripción" v-model="custom.description" />
                  </div>
                  <div class="col-sm-4">
                    <q-input type="number" float-label="Precio" v-model="custom.cost" />
                  </div>
                  <div class="col-sm-1 text-center" style="padding: 30px 0 0 0">
                    <q-btn icon="delete" flat round color="grey-8" @click="deleteCustomShipping(index)" v-show="custom_shippings.length > 1"/>
                  </div>
                </div>
                </div>
              </li>
              <li style="padding: 10px">
                <q-checkbox label="Acepto retiro en persona" v-model="local_pick_up"/>
              </li>
            </ul>
          </fieldset>

          <fieldset class="medios-pago">
            <legend>Formas de Pago</legend>
            <ul>
              <li>
                <q-checkbox label="Mercado Pago" v-model="immediatePayment"/>
              </li>
            </ul>
          </fieldset>

          <div class="step-navigation-bar">
            <q-stepper-navigation>
              <q-btn flat @click="$refs.stepper.previous()" label="Atrás" color="tertiary"/>
              <q-btn flat @click="publish" label="Finalizar" color="primary"/>
            </q-stepper-navigation>
          </div>
        </q-step>
      </q-stepper>
    </q-page>
  </div>
</template>

<script>
import Loading from 'src/components/AppLoading'
import { required } from 'vuelidate/lib/validators'

export default {
  components: {
    Loading
  },
  data() {
    return {
      loading: true,
      categories: [
        {
          label: 'Acc. para Motos y Cuatriciclos',
          value: 'MLA4711'
        },
        {
          label: 'Accesorios para Vehiculos',
          value: 'MLA5725'
        },
        {
          label: 'Repuestos para Motos',
          value: 'MLA1771'
        }
      ],

      category: '',
      subcategories: [],
      attributes: [],
      shipping_methods: [],
      custom_shippings: [
        {
          description: '',
          cost: ''
        }
      ],
      local_pick_up: false,
      product: {},
      immediatePayment: true,
      publish_types: [],
      margin: 0
    }
  },
  validations: {
    product: {
      category: { required },
      subcategories: {
        required,
        $each: { required }
      }
    }
  },
  methods: {

    valueType(value_type) {
      let type = ''

      switch (value_type) {
        case 'string':
          type = 'text'
          break
        case 'number_unit':
          type = 'number'
          break
        case 'number':
          type = 'number'
          break
      }

      return type
    },
    addCustomShipping() {
      this.custom_shippings.push({
        description: '',
        cost: ''
      })
    },
    deleteCustomShipping(index) {
      this.custom_shippings.splice(index, 1)
    },
    selectOptionsFormat(values) {
      return values.reduce((acc, item) => {
        acc.push({
          label: item.name,
          value: item.id
        })
        return acc
      }, [])
    },
    openProduct: async function(id) {
      // obtengo datos del producto
      const product = await this.$database
        .ref('datos/articulos/' + id)
        .once('value')
        .then(res => res.val())


      // buscar imagen de producto
      product.image = (await this.getImage(product.nro_interno)) || ''

      if (!product.image.length) {
        this.$q.notify({
          message: 'El producto no puede publicarse a falta de imagen.',
          type: 'negative'
        })
        this.$router.push('/catalogo')
        return
      }

      // defino título de la publicacion
      // no debe ser mayor a 60 caracteres
      product.description = product.deno_catalogo
        ? product.deno_catalogo.substring(0, 60)
        : product.denominacion.substring(0, 60)

      // predice categorías
      const urlDescrip = encodeURIComponent(product.description.substring(0, 20).trim())
      this.$axios.get(
        `https://api.mercadolibre.com/sites/MLA/category_predictor/predict?title=${urlDescrip}`,
        {
          crossdomain: true,
          header: {
            'Access-Control-Allow-Origin': '*',
          }
        }
      ).then(async res => {
            if (res.data) {
              const prediction = res.data
              product.category = prediction.path_from_root[1]['id']
              product.subcategories = []

              const categories = this.categories.map(item => item.value)

              if (categories.includes(product.category)) {
                  for (let i = 2; i <= prediction.path_from_root.length; i++) {
                      if (prediction.path_from_root[i]) {
                          // busco categorias subsiguientes
                          await this.addChildrenCategories(
                              prediction.path_from_root[i - 1]['id']
                          )
                          product.subcategories.push(
                              prediction.path_from_root[i]['id']
                          )
                      }
                  }
              }
            }
          })

      // definir precio sugerido publico
      product.base_price = Math.round(
        product.precio * this.$store.state.main.dolar * 1.3
      )
      this.updateMargin(product.base_price, product.precio)

      // defino stock mínimo
      product.stock = 1

      // tipo de moneda, siempre ARS
      product.currency_id = 'ARS'
      return product
    },
    updateMargin(base_price, price) {
      const list_price =
        parseFloat(price) * parseFloat(this.$store.state.main.dolar)

      this.margin = Math.round((base_price / list_price) * 100) - 100
    },
    updateBasePrice(margin) {
      const list_price = parseFloat(
        this.product.precio * this.$store.state.main.dolar
      )
      const gain = (margin * list_price) / 100
      this.product.base_price = Math.round(Number(list_price) + Number(gain))
    },

    // obtener imagen por código
    getImage(codigo) {
      const refLowerCase = this.$storage.ref('articulos/' + codigo + '.jpg')
      const refUpperCase = this.$storage.ref('articulos/' + codigo + '.JPG')

      return refLowerCase
        .getDownloadURL()
        .then(url => {
          return url
        })
        .catch(err => {
          return refUpperCase
            .getDownloadURL()
            .then(url => {
              return url
            })
            .catch(() => {
              return false
            })
        })
    },

    // buscar grupo de subcategorías según categoría seleccionada
    addChildrenCategories(value) {
      const uri = `https://api.mercadolibre.com/categories/${value}`
      return this.$axios.get(uri).then(res => {
        const result = res.data.children_categories

        if (result) {
          const subcategories = result.reduce((acc, cat) => {
            acc.push({
              label: cat.name,
              value: cat.id
            })
            return acc
          }, [])

          if (subcategories.length) {
            this.subcategories.push(subcategories)
          } else {
            this.product.category = value
          }
        }
      })
    },

    // función comun para select de categorias y subcategorias
    addSubcat(value) {
      if (!this.product.subcategories) this.product.subcategories = []
      this.product.subcategories.push(value)
      this.addChildrenCategories(value)
    },

    // esta función se llama desde el select de categorías repuestos / accesorios
    getSubcategory(value) {
      this.subcategories = []
      this.addSubcat(value)
    },

    // agrega el siguiente select con subcategorias acordes a la ultima seleccionada
    getNextSubcategory(parent, index) {
      this.subcategories.splice(index + 1)
      this.addSubcat(parent)
    },

    getAttributes(category_id) {
      this.$axios
        .get(
          `https://api.mercadolibre.com/categories/${category_id}/attributes`
        )
        .then(res => {
          this.attributes = res.data.filter(
            attr => attr.relevance == 1 && !attr.tags.hidden
          ).reduce((acc, item) => {
            if (item.tags.fixed) item.value_name = item.values[0].name
            acc.push(item)
            return acc
          }, [])
        })
    },
    // obtener métodos de envío disponibles según categoría
    getShippingMethods(category_id) {
      const access_token = MELI.getToken()
      const user_id = this.$store.state.main.meli_user.id

      this.$axios
        .get(
          `https://api.mercadolibre.com/users/${user_id}/shipping_modes?category_id=${category_id}`
        )
        .then(res => {
          this.shipping_methods = []
          res.data.forEach(method => {
            switch (method.mode) {
              case 'me2': {
                this.shipping_methods.push({
                  label: 'Mercado Envíos',
                  value: 'me2',
                  state: true
                })
                break
              }
              case 'not_specified': {
                this.shipping_methods.push({
                  label: 'Acordar con el vendedor',
                  value: 'not_specified',
                  state: true
                })
                break
              }
              // case 'custom': {
              //   this.shipping_methods.push({
              //     label: 'Envío personalizado',
              //     value: 'custom',
              //     state: false
              //   })
              //   break
              // }
            }
          })
        })
    },

    // realizar publicación
    publish: async function() {
      // create object
      const tags = []
      if (this.immediatePayment) {
        tags.push('immediate_payment')
      }
      const object = {
        title: this.product.description,
        category_id: this.product.subcategories[
          this.product.subcategories.length - 1
        ],
        price: this.product.base_price,
        currency_id: this.product.currency_id,
        available_quantity: this.product.stock,
        buying_mode: 'buy_it_now',
        listing_type_id: 'gold_special',
        description: {
          plain_text: this.product.details
        },
        condition: 'new',
        pictures: [{ source: this.product.image }],
        shipping: {
          mode: 'me2',
          local_pick_up: this.local_pick_up,
          free_shipping: false,
          free_methods: []
        },
        attributes: this.attributes.reduce((acc, item) => {
          const value = item.allowed_units
            ? item.value_name + item.default_unit
            : item.value_name
          if (item.value_name) {
            acc.push({
              id: item.id,
              value_name: value
            })
          }

          return acc
        }, [])
      }

      if (tags.length) {
        object.tags = tags
      }

      if (this.product.video && this.product.video.length) {
        const url = new URL(this.product.video)
        const videoId = url.searchParams.get('v')

        object.video_id = videoId
      }

      MELI.post('/items', object, data => {
        const status = data[0]

        if (status == 201) {
          this.$q.notify({
            message:
              'El artículo se publicó correctamente con el ID ' + data[2].id,
            type: 'positive'
          })
          this.$router.push('/catalogo')
        } else {
          const error_code = data[2].message
          let message = ''

          switch (error_code) {
            case 'seller.unable_to_list':
              message =
                'El vendedor con el que inició sesión en MercadoLibre no está habilitado para vender. Revise los datos de su cuenta.'
              break

            case 'item.category_id.invalid':
              message =
                'No se permite publicar en la categoría seleccionada. Revise el árbol de categorías del primer paso.'
              break

            case 'Validation error':
              message = 'Error validando artículo. Faltan especificar datos.'
              break
          }

          console.log(data)

          this.$q.notify({
            message: message,
            type: 'negative',
            closeBtn: true,
            timeout: 0
          })
        }
      })
    }
  },
  created() {
    MELI.getLoginStatus(async data => {
      this.product = await this.openProduct(this.$route.params.codigo)
      this.loading = false
    })
  }
}
</script>
