<template>
  <div>
    <tools>
      <span class="total">Pedido N° {{ order.order_id }}</span>
      <span class="total">{{ order.order_id | date }}</span>
      <span class="total" v-if="order.id_factura">
        <a class="comp-link" :href="'statics/factura.html?id=' + order.order_id" target="_blank">
          {{ order.estado }}
          <q-icon name="launch"/>
        </a>
      </span>
      <span class="total" v-else>{{ order.estado }}</span>
      <span class="total">Total {{ total | currency }}</span>
      <q-btn flat round icon="print" title="Imprimir" @click="print('order-table')"/>
      <q-btn flat round icon="arrow_back" title="Volver" @click="$router.push('/consulta')"/>
    </tools>

    <q-table
      id="order-table"
      row-key="codigo"
      :data="products"
      :columns="table.columns"
      :pagination.sync="table.pagination"
      :visible-columns="table.visible_columns"
    />
  </div>
</template>

<script>
import Tools from "src/components/AppTools";
import moment from "moment";

function numberFormat(val) {
  return new Intl.NumberFormat("es-AR", {
    minimumFractionDigits: 2,
    maximumFractionDigits: 2
  }).format(val);
}

export default {
  components: {
    Tools
  },
  data() {
    return {
      order: {},
      products: [],
      table: {
        columns: [
          {
            label: "Código",
            field: "nro_interno",
            name: "codigo",
            align: "center"
          },
          {
            label: "Descripción",
            field: "denominacion",
            name: "descripcion",
            align: "left"
          },
          {
            label: "Cantidad",
            name: 'cantidad',
            field: row => {
              const entregado = row.entregado || 0;
              return row.cantidad - entregado;
            },
            align: "center"
          },
          {
            label: "Unitario",
            field: "precio",
            name: "unitario",
            format: val => numberFormat(val)
          },
          {
              label: "Dto.",
              field: "descuento_valido",
              name: "descuento",
              align: "center"
          },
          {
            label: "Importe",
            field: row => row.precio * row.cantidad,
            name: "importe",
            format: val => numberFormat(val)
          }
        ],
        pagination: {
          rowsPerPage: 10
        },
        visible_columns: ['codigo', 'descripcion', 'cantidad', 'unitario', 'importe']
      }
    };
  },
  methods: {
    openOrder(id) {
      const client_id = this.$store.state.main.usuario.id;
      return this.$database
        .ref("datos/clientes/" + client_id + "/pedidos")
        .child(id.toString())
        .on("value", snap => {
          this.order = snap.val();
          this.order.estado = this.order.estado
            ? this.order.estado
            : "Pendiente";
          this.products = Object.values(this.order.articulos)
          if (this.products.filter(el => el.descuento_valido).length) {
              this.table.visible_columns = ['codigo', 'descripcion', 'cantidad', 'unitario', 'descuento', 'importe']
          }
        });
    },
    print(element) {
      const printWin = document.open("", "PEDIDO", "width=800, height=600");

      printWin.document.write("<html><body>");
      printWin.document.write(`
        <style type="text/css">
        @media print, screen {
            h3, h4 {
                margin: 3px 0;
            }
            * {
                font-family: Arial, Helvetica, sans-serif;
            }
            @page {
                size: portrairt;
            }
            .q-table {
                width: 100%;
                font-size: 10pt;
                border-collapse: collapse;
            }
            .q-table-bottom {
                display: none;
            }
            .q-table thead tr th {
                border-bottom: 2px solid;
            }
            .q-table tbody tr td {
                border: 1px solid;
                padding: 5px;
            }
            .text-right {
                text-align: right;
            }
            .text-center {
                text-align: center;
            }
            .q-table tfoot tr td {
                padding: 5px;
                font-weight: bold;
                border-top: 2px solid;
            }
            .resaltadoRojo {
                background-color: rgb(255, 61, 177);
                -webkit-print-color-adjust: exact;

            }
            .divider {
              border-top: 1px solid #000;
              margin: 20px 0;
            }
        }
        </style>`);
      printWin.document.write(`
                <table width="100%">
                    <tr>
                        <td align="center"><img src="statics/drawer_logo.jpg" height="60"></td>
                        <td>
                            <h3>PEDIDO ${this.order.order_id}</h3>
                            <h4>FECHA ${this.$moment
                              .unix(this.order.order_id / 1000)
                              .format("DD/MM/YYYY")}</h4>
                            ESTADO AL ${this.$moment().format(
                              "DD/MM/YYYY"
                            )}: <b>${this.order.estado.toUpperCase()}</b>
                        </td>
                    </tr>
                </table>
                <div class="divider"></div>
            `);

      printWin.document.write(document.getElementById(element).innerHTML);
      printWin.document.write("</body></html>");

      printWin.focus();
      printWin.print();

      setTimeout(() => {
        printWin.close();
      });

      return true;
    }
  },
  computed: {
    total() {
      return this.products.reduce((acc, item) => {
        acc += Number(item.precio * item.cantidad);
        return acc;
      }, 0);
    }
  },
  filters: {
    currency(val) {
      return new Intl.NumberFormat("es-AR", {
        minimumFractionDigits: 2,
        maximumFractionDigits: 2,
        style: "currency",
        currency: "USD"
      }).format(val);
    },
    date(val) {
      return moment.unix(val / 1000).format("DD/MM/YYYY");
    }
  },
  created() {
    this.openOrder(this.$route.params.id);
  }
};
</script>

