<template>
  <q-modal v-model="visible" minimized @show="focusCantidad">
    <div class="layout-padding">
      <div class="modal-title">
        Ingrese Cantidad
        <span class="descrip">
          <b>{{ item.codigo }}</b>
          - {{ item.descripcion }}
        </span>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="row gutter-md">
            <div class="col-xs-12 flex-center flex">
              <img
                :src="item.imagen"
                class="img-dialog"
                onload="this.style.display='block'"
                onerror="this.style.display='none'"
              >
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="inputs">
            <div class="row gutter-md">
              <div class="col-xs-12">
                <q-input
                  type="number"
                  ref="cantidad"
                  v-model="item.cantidad"
                  float-label="Cantidad"
                  @keyup.enter="aceptar"
                  :error="$v.item.cantidad.$error"
                  @blur="$v.item.cantidad.$touch"
                />
              </div>
              <div class="col-xs-12">
                <q-input
                  type="text"
                  v-model="item.observacion"
                  float-label="Observación"
                  @keyup.enter="aceptar"
                />
              </div>
              <div class="col-xs-12 text-right">
                <q-btn flat color="tertiary" @click="cancelar()">Cancelar</q-btn>&nbsp;
                <q-btn flat color="primary" @click="aceptar">Aceptar</q-btn>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </q-modal>
</template>

<script>
import { required, minValue } from 'vuelidate/lib/validators'
export default {
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    item: {
      type: Object
    }
  },
  validations: {
    item: {
      cantidad: { required, minValue: minValue(1) }
    }
  },
  methods: {
    aceptar() {
      this.$v.$touch()
      if (this.$v.item.$invalid) {
        this.$q.notify({
          message: 'ESPECIFIQUE CANTIDAD',
          type: 'negative'
        })
        return null
      }
      this.$emit('accept', this.item)
    },
    cancelar() {
      this.$emit('cancel', true)
    },
    focusCantidad() {
      this.$refs.cantidad.focus()
      this.$refs.cantidad.select()
    }
  }
}
</script>

