<template>
  <q-modal v-model="visible" minimized @show="focusCantidad" :content-css="{maxWidth: '40vw'}">
    <div class="dialog-content">
      <div class="modal-title">Ingrese Cantidad</div>
      <div class="modal-subtitle">{{ item.descripcion }}</div>
      <div class="row gutter-xs">
        <div class="col-xs-12">
          <q-input
            type="number"
            ref="cantidad"
            v-model="cantidad"
            float-label="Cantidad"
            @keyup.enter="aceptar()"
          />
        </div>
        <div class="col-xs-12">
          <q-input
            type="text"
            v-model="observacion"
            float-label="Observación"
            @keyup.enter="aceptar()"
          />
        </div>
        <div class="col-xs-12 text-center">
          <q-btn flat color="tertiary" @click="cancelar">Cancelar</q-btn>
          <q-btn flat color="primary" @click="aceptar">Aceptar</q-btn>
        </div>
      </div>
    </div>
  </q-modal>
</template>

<script>
export default {
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    item: {
      type: Object
    }
  },
  data() {
    return {
      cantidad: 1,
      observacion: ''
    }
  },
  methods: {
    aceptar() {
      this.item.cantidad = this.cantidad
      this.item.observacion = this.observacion
      this.$emit('accept', this.item)
    },
    cancelar() {
      this.$emit('cancel', true)
    },
    focusCantidad() {
      if (this.visible) {
        this.$refs.cantidad.focus()
        this.$refs.cantidad.select()
      }
    }
  }
}
</script>

<style lang="stylus" scoped>
.dialog-content
  padding 20px

.modal-title
  font-weight bold
  text-align center

.modal-subtitle
  color #555555
  margin 10px 0
  font-size 8pt
  text-align center
  border-bottom 1px dashed #ccc
</style>
