<template>
  <div class="finder-wrapper">
    <!-- <q-window-resize-observable @resize="onResize"/> -->
    <transition name="finder-toggle">
      <input
        id="input-finder"
        type="text"
        autocomplete="off"
        class="input-finder"
        placeholder="Buscar por código o descripción"
        @input="search"
        @click="$event.target.select()"
        @blur="hideFinder"
        @keyup.enter="search"
        v-show="searchInput"
      >
    </transition>
    <q-btn id="btn-search" flat round icon="search" v-show="!searchInput" @click="openFinder" title="Buscar en catálogo"/>
    <q-btn id="btn-settings" flat round icon="settings" @click="searchOptions = !searchOptions" title="Opciones de búsqueda"/>
    <transition name="settings-toggle">
      <div class="finder-settings" v-show="searchOptions">
        <q-select
          :options="pageSizes"
          v-model="$store.state.history.pageSize"
          float-label="Cantidad de Resultados"
          @input="setPageSize"
        />
      </div>
    </transition>
  </div>
</template>

<script>
export default {
    data() {
        return {
            searchOptions: false,
            pageSizes: [
                { label: '12', value: 12 },
                { label: '24', value: 24 },
                { label: '48', value: 48 },
                { label: '96', value: 96 },
                { label: '192', value: 192 }
            ]
        }
    },
    methods: {
        setPageSize(value) {
          console.log(value)
            this.$database
                .ref(
                    'datos/usuarios/' +
                        this.$store.state.main.usuario.key +
                        '/settings/pageSize'
                )
                .set(value)
            this.$store.commit('history/updatePageSize', value)
            this.searchOptions = false
        },

        openFinder() {
            this.$store.commit('history/setSearchInput', true)
            this.searchOptions = false
            setTimeout(() => {
              const windowWidth = window.innerWidth
              const finder = document.getElementById('input-finder')
              finder.style.cssText = 'width: ' + (windowWidth - 80) + 'px'
              finder.focus()
              if (this.$route.path != 'catalogo')
                this.$router.push('/catalogo')
            })
        },

        hideFinder() {
          this.$store.commit('history/setSearchInput', false)
        },

        search() {
            const terms = event.target.value
            if (terms.length) {
                if (this.$route.path != 'catalogo')
                    this.$router.push('/catalogo')
                this.$store.commit('history/saveSearchTerms', terms)
            }
        }
    },
    computed: {
      searchInput() {
        return this.$store.state.history.searchInput
      }
    },
    watch: {
      searchInput(val) {
        if (val) {
          setTimeout(() => {
            const finder = document.getElementById('input-finder')
            finder.focus()
            finder.select()
          })
        }
      }
    }
}
</script>

<style lang="stylus" scoped>
.input-finder
  position absolute
  right 60px
  top 8px
  border-radius 3px
  border none
  outline none
  padding 9px
  font-size 15px

.finder-settings
  background-color #fff
  position fixed
  width 100%
  left 0
  padding 20px
  top 50px
  z-index -1

// transitions
.settings-toggle-enter-active, .settings-toggle-leave-active
  transition all 0.5s

.settings-toggle-enter, .settings-toggle-leave-to
  top -100px

.finder-toggle-enter-active, .finder-toggle-leave-active
  transition right 0.3s, opacity 0.2s

.finder-toggle-enter, .finder-toggle-leave-to
  right -1000px
  opacity 0
</style>
