<template>
    <q-inner-loading :visible="visible" class="inner-loading">
        <q-spinner-hourglass size="50" color="primary" />
        <span class="status">{{ caption }}</span>
    </q-inner-loading>
</template>

<script>
import { QSpinnerHourglass } from 'quasar'
export default {
    components: {
        QSpinnerHourglass
    },
    props: {
        visible: {
            type: Boolean,
            default: false
        },
        caption: {
            type: String
        }
    }
}
</script>

<style lang="stylus" scoped>
@import '~variables'
.status {
    margin: 10px;
    color $tertiary
}

.inner-loading {
    background-color: #fff;
    z-index: 999;
    height: 100vh;
    position fixed
    height 100vh
    width 100%
    display flex
    justify-content center
    align-items center
    top 0
}
</style>
