<template>
  <div>
    <q-window-resize-observable @resize="onResize"/>
    <q-table
      :grid="table.grid"
      :hide-header="table.grid"
      :data="data"
      :columns="table.columns"
      row-key="name"
      class="no-shadow"
      :pagination.sync="table.pagination"
      :visible-columns="table.visible_columns"
    >
      <q-tr slot="body" slot-scope="props" :props="props" :class="{ 'promo-hightlight': props.row.valor_absoluto }">
        <q-td key="codigo" :props="props">{{ props.row.codigo }}</q-td>
        <q-td key="descripcion" :props="props">{{ props.row.descripcion }}</q-td>
        <q-td key="cantidad" :props="props">
          <q-input
            type="number"
            @click="$event.target.select()"
            v-model="props.row.cantidad"
            style="width: 50px; margin: 0 auto;"
          />
        </q-td>
        <q-td
          key="unitario"
          :props="props"
          v-if="!$store.state.main.preciosAr"
        >{{ props.row.precio | number }}</q-td>

        <q-td
          key="unitario"
          :props="props"
          v-else
        >{{ props.row.precio * $store.state.main.dolar | number }}</q-td>

        <q-td key="descuento_e" :props="props">{{ props.row.descuento_e }}</q-td>

        <q-td
          key="importe"
          :props="props"
          v-if="!$store.state.main.preciosAr"
        >{{ importeUsd(props.row) | number }} </q-td>
        <q-td key="importe" :props="props" v-else>{{ importeAr(props.row) | number }}</q-td>
        <q-td align="center" key="observacion" :props="props">
          <q-btn flat round icon="info" color="info" v-if="props.row.observacion">
            <q-tooltip
              anchor="top middle"
              self="bottom middle"
              :offset="[10, 10]"
            >{{ props.row.observacion }}</q-tooltip>
          </q-btn>
          <q-popup-edit
            v-model="props.row.observacion"
            title="Observación"
            buttons
            label-set="Aceptar"
          >
            <q-input type="text" v-model="props.row.observacion"/>
          </q-popup-edit>
        </q-td>
        <q-td align="center">
          <q-btn
            flat
            round
            size="sm"
            color="tertiary"
            icon="delete"
            @click="deleteItem(props.row.__index)"
          />
        </q-td>
      </q-tr>

      <div
        slot="item"
        slot-scope="props"
        class="q-pa-xs col-xs-12 col-sm-6 col-md-4 col-lg-3 transition-generic"
        :style="props.selected ? 'transform: scale(0.95);' : ''"
      >
        <q-card class="transition-generic card-pedido" :class="props.selected ? 'bg-grey-2' : ''">
          <q-card-media class="card-media">
            <div class="img-container">
              <img
                :src="props.row.imagen"
                class="img-order"
                style="display: none"
                onload="this.style.display='block'"
                onerror="this.style.display='none'"
              >
              <img
                :src="props.row.imagenUpper"
                class="img-order"
                style="display: none"
                onload="this.style.display='block'"
                onerror="this.style.display='none'"
              >
            </div>
          </q-card-media>
          <q-card-main class="q-pa-none">
            <q-list no-border>
              <q-item key="codigo">
                <q-item-main>
                  <q-item-tile label>Código</q-item-tile>
                  <q-item-tile sublabel>{{ props.row.codigo }}</q-item-tile>
                </q-item-main>
              </q-item>
              <q-item key="descripcion">
                <q-item-main>
                  <q-item-tile label>Descripción</q-item-tile>
                  <q-item-tile sublabel>{{ props.row.descripcion }}</q-item-tile>
                </q-item-main>
              </q-item>
              <q-item key="cantidad">
                <q-item-main>
                  <q-item-tile label>Cantidad</q-item-tile>
                  <q-item-tile sublabel>
                    {{ props.row.cantidad }}
                    <q-popup-edit
                      v-model="props.row.cantidad"
                      title="Cantidad"
                      buttons
                      label-set="Aceptar"
                    >
                      <q-input type="number" v-model="props.row.cantidad"/>
                    </q-popup-edit>
                  </q-item-tile>
                </q-item-main>
              </q-item>
              <q-item key="unitario">
                <q-item-main>
                  <q-item-tile label>Unitario</q-item-tile>

                  <q-item-tile
                    sublabel
                    v-if="!$store.state.main.preciosAr"
                  >{{ props.row.precio | number }}</q-item-tile>
                  <q-item-tile
                    sublabel
                    v-else
                  >{{ importeAr(props.row) | number }}</q-item-tile>
                </q-item-main>
              </q-item>
              <q-item key="descuento_e" v-if="descuento_e > 0">
                <q-item-main>
                  <q-item-tile label>Descuento</q-item-tile>
                  <q-item-tile
                    sublabel
                  >{{ props.row.descuento_e }} %</q-item-tile>
                </q-item-main>
              </q-item>
              <q-item key="importe">
                <q-item-main>
                  <q-item-tile label>Importe</q-item-tile>
                  <q-item-tile
                    sublabel
                    v-if="!$store.state.main.preciosAr"
                  >{{ importeUsd(props.row) | number }}</q-item-tile>
                  <q-item-tile
                    sublabel
                    v-else
                  >{{ props.row.precio * props.row.cantidad * $store.state.main.dolar | number }}</q-item-tile>
                </q-item-main>
              </q-item>

              <q-item key="observacion" v-if="props.row.observacion">
                <q-item-main>
                  <q-item-tile label>Observación</q-item-tile>
                  <q-item-tile sublabel>
                    {{ props.row.observacion }}
                    <q-popup-edit
                      v-model="props.row.cantidad"
                      title="Observación"
                      buttons
                      label-set="Aceptar"
                    >
                      <q-input type="text" v-model="props.row.observacion"/>
                    </q-popup-edit>
                  </q-item-tile>
                </q-item-main>
              </q-item>
            </q-list>
          </q-card-main>
          <q-card-separator/>
          <q-card-actions align="center">
            <q-btn
              color="tertiary"
              flat
              icon="delete"
              label="Quitar"
              @click="deleteItem(props.row.__index)"
            />
          </q-card-actions>
        </q-card>
      </div>
    </q-table>
  </div>
</template>

<script>
import DialogArticulo from "src/components/AppDialogArticulo";

function numberFormat(val) {
  return new Intl.NumberFormat("es-AR", {
    minimumFractionDigits: 2,
    maximumFractionDigits: 2
  }).format(val);
}

export default {
  components: {
    DialogArticulo
  },
  props: {
    articulos: {
      type: Array,
      default: () => []
    },
    terms: {
      default: ""
    }
  },

  data() {
    return {
      editarArticulo: false,
      selectedItem: {},
      table: {
        grid: false,
        columns: [
          {
            label: "Código",
            name: "codigo",
            field: "codigo",
            align: "center"
          },
          {
            label: "Descripción",
            name: "descripcion",
            field: "descripcion",
            align: "left"
          },
          {
            label: "Cantidad",
            name: "cantidad",
            field: "cantidad",
            align: "center",
            style: "width: 60px"
          },
          {
            label: "Unitario",
            name: "unitario",
            field: "precio",
            format: val => numberFormat(val)
          },
          {
            label: "Dto.",
            name: "descuento_e",
            field: "descuento_e"
          },
          {
            label: "Importe",
            name: "importe",
            style: "width: 80px"
          },
          {
            label: "Obs.",
            field: "observacion",
            name: "observacion",
            align: "center"
          }
        ],
        pagination: {
          rowsPerPage: 10
        },
        visible_columns: ['codigo', 'descripcion', 'unitario', 'cantidad', 'importe', 'observacion']
      }
    };
  },
  methods: {
    importeAr(row) {
      const unitario = parseFloat(row.precio);
      const unitario_desc = parseFloat((unitario * row.descuento_e) / 100);
      return (unitario - unitario_desc) * row.cantidad * this.$store.state.main.dolar;
    },
    importeUsd(row) {
      const unitario = parseFloat(row.precio);
      const unitario_desc = parseFloat((unitario * row.descuento_e) / 100);
      return (unitario - unitario_desc) * row.cantidad;
    },
    onResize(size) {
      if (size.width < 600) {
        this.table.grid = true;
      } else {
        this.table.grid = false;
      }
    },
    selectItem(item) {
      this.selectedItem = item;
      this.editarArticulo = true;
    },
    editItem(item) {},

    deleteItem(index) {
      if (!this.$store.state.main.connection) {
        this.$q.notify({
          type: 'negative',
          message: 'Acción denegada, no hay acceso a Internet.'
        })
        return null
      }
      this.$q
        .dialog({
          message: "¿Desea quitar el artículo seleccionado?",
          title: "Confirmación",
          ok: {
            label: "Aceptar",
            color: "tertiary",
            flat: true
          },
          cancel: true
        })
        .then(() => {
          this.articulos.splice(index, 1);
          this.$store.commit("main/actualizaArticulos", this.articulos);

          const pedido = this.$store.state.main.pedido
          const ref = this.$database.ref(`datos/usuarios/${this.$store.state.main.usuario.key}/temp`)

          ref.set(pedido).then(() => {
            this.$q.notify({
              message: 'Artículo borrado correctamente.',
              type: 'positive'
            })
          })
        })
        .catch(() => {});
    }
  },
  computed: {
    descuento_e() {
      return this.$store.state.main.cliente.categoria || 0
    },
    data() {
      const terms = this.terms;
      const articulos = this.articulos;

      articulos.forEach(item => {
        if (!item.valor_absoluto) {
          item.descuento_e = this.descuento_e || 0;
        } else {
          item.descuento_e = 0;
        }
      });

      if (terms.length) {
        if (!isNaN(terms)) {
          return articulos.filter(el => el.codigo == terms);
        } else {
          const termParts = terms.toLowerCase().split(" ");

          return articulos.filter(el =>
            termParts.every(
              term => el.descripcion.toLowerCase().search(term) != -1
            )
          );
        }
      } else {
        return articulos;
      }
    }
  },
  filters: {
    number(value) {
      return new Intl.NumberFormat("es-AR", {
        minimumFractionDigits: 2,
        maximumFractionDigits: 2
      }).format(value);
    }
  },
  created() {
    if (this.descuento_e > 0) {
      this.table.visible_columns = ['codigo', 'descripcion', 'cantidad', 'unitario', 'descuento_e', 'importe', 'observacion']
    }
  }
};
</script>

<style lang="stylus" scoped>
@import '~variables'
@media (max-width: 800px)
  .order-table
    display none

@media (min-width: 801px)
  .items-container
    display none
    padding 50px 0

</style>

