<template>
  <div class="screen-block-container" v-if="!state">
    <p>Sin conexión ...</p>
  </div>
</template>

<script>
export default {
  props: {
    state: {
      type: Boolean,
      default: false
    }
  }
}
</script>


<style lang="stylus" scoped>
.screen-block-container
  position fixed
  top 0
  left 0
  width 100%
  height 100vh
  background-color rgba(0,0,0,0.8)
  color #ffffff
  display flex
  align-items center
  justify-content center
  z-index 999999
  
  p
    font-size 20px
</style>

