<template>
  <div>
    <q-search float-label="Buscar artículo" v-model="terms" clearable @clear="articuloSelected(false)">
      <q-autocomplete @search="articuloSearch" :min-characters="3" @selected="articuloSelected"/>
    </q-search>
  </div>

</template>

<script>
import { filter } from "quasar";
export default {
  data: () => ({
    terms: "",
    articulos: []
  }),
  methods: {
    articuloSearch(terms, done) {
      setTimeout(() => {
        const words = terms.split(" ");
        const results = this.articulos.filter(el =>
          words.some(word => el.label.toLowerCase().search(word) !== -1)
        );
        done(results);
      }, 1000);
    },
    articuloSelected(articulo) {
      this.$emit("articulo-seleccionado", articulo);
    }
  },
  mounted() {
    this.$store.state.main.articulos.forEach(item => {
      this.articulos.push({
        label: item.codigo + " - " + item.descripcion,
        value: item.codigo
      });
    });
  }
};
</script>
