<template>
  <div
    class="tools"
    :class="{ 'nav-up': scrolledDown, 'inTab': inTab, 'hide-underline': hideUnderline }"
  >
    <slot></slot>
  </div>
</template>

<script>
export default {
    props: {
        inTab: {
            type: Boolean,
            default: false
        },
        hideUnderline: {
            type: Boolean,
            default: false
        }
    },
    data: () => ({
        scrolledDown: false,
        lastScroll: 0
    }),

    methods: {
        scrollHandler() {
            this.scrolledDown = window.scrollY > this.lastScroll ? true : false
            this.lastScroll = window.scrollY
        }
    },

    created() {
        window.addEventListener('scroll', this.scrollHandler)
    },

    destroyed() {
        window.removeEventListener('scroll', this.scrollHandler)
    }
}
</script>

<style lang="stylus" scoped>
.tools
  border-bottom 1px inset #ccc
  margin-bottom 0px
  color #555
  padding 5px 5px 10px 5px
  background-color #fff
  text-align right
  min-height 50px
  top 50px
  position fixede
  width 100%
  z-index 99n
  transition all .3s ease

  &.hide-underline
    border-bottom none !important

  &.inTab
    top 98px

  &.nav-up
    top -200px
    box-shadow 0 3px 10px rgba(0, 0, 0, .1)

  .total
    float left
    padding 15px
    font-weight bold

  .q-btn
    margin 0 3px

  .divider
    display inline
    border-left 1px inset #ccc
    margin 0 10px

.filter-container
  float left
  padding 10px
  margin -10px 0
</style>

