.factura_top {
  margin-bottom: 5px; }

.table-default {
  border-collapse: collapse;
  width: 100%; }
  .table-default thead {
    background: #D30203;
    color: #fff;
    font-weight: normal; }
    .table-default thead tr:hover {
      background-color: #F7F7F7; }
    .table-default thead tr th {
      padding: 5px;
      text-align: center; }
  .table-default tbody {
    color: #000;
    font-size: 10pt; }

.input_tabla_num {
  width: 50px; }

#proforma_table {
  margin-top: 120px; }

.table-container {
  position: relative;
  margin-top: 90px; }
  .table-container .tabla_button {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    background-color: #D30203;
    border-radius: 4px;
    height: 35px;
    color: white;
    border-style: none;
    font-size: 14px;
    padding: 5px;
    text-transform: uppercase;
    cursor: pointer;
    width: 100px;
    float: left;
    margin-bottom: 5px;
    margin-top: -15px; }

/*# sourceMappingURL=style_b.css.map */
