@charset "utf-8";

a:hover {
	color: #D30203;
}

body {
	font: "Montserrat";
	padding: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.factura_top_2 input {
    border-radius: 0px;
    height: 30px;
    text-align: center;
    color: #474747;
    font-size: 14px;
    margin-left: 5px;
    font-family: 'Montserrat', sans-serif;
    margin-top: -10px;
}

.factura_top_3 input {
    border-radius: 0px;
    height: 30px;
    text-align: center;
    color: #474747;
    font-size: 14px;
    margin-left: 5px;
    font-family: 'Montserrat', sans-serif;
    margin-top: -10px;
}

/*header*/
header {
	font-family: 'Montserrat', sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	position: fixed;
	width: 94%;
	height: 40px;
	background-color: #fff;
	top: 0;
	padding-top: 8px;
}

select {
	width: 98%;
	border-radius: 0px;
	height: 42px;
	text-align: center;
	color: #474747;
	font-size: 14px;
	margin-bottom: 21px;
	font-family: 'Montserrat', sans-serif;
}


.factura_top_2 select {
	width: 550px;
    border-radius: 0px;
    height: 35px;
    text-align: center;
    color: #474747;
    font-size: 14px;
    margin-left: 5px;
    font-family: 'Montserrat', sans-serif;
    margin-top: -10px;
}


#headerLinks button {
	font-family: 'Montserrat', sans-serif;
	position: block;
	top: 0px;
	color: rgba(255,255,255,1.00);
	background-color:transparent;
	height:20px;
	width:110px;
	margin-top:-10px;
	border-style: none;
	font-size: 10px;
	text-transform: uppercase;
}
#headerLinks button:hover {
	color: #FF0000;
}


.bar {
	background-color: #616161;
	float:right;
	display:block;
	width:70%;
	height:30px;
}

body{
	font-family: 'Montserrat', sans-serif;
}

#logo {
	float: left;
	padding-top: 5px;
	padding-bottom: 6px;
	width: 29.9%;
	text-align: center;
	color: rgba(255,255,255,1.00);
	background-color: #D30203;
}

#headerLinks {
	float: right;
	text-align: right;
	margin-right:10px;
	margin-top: -10px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #fff;
}

#headerLinks a {
	text-decoration: none;
	color: #fff;
	padding-left: 16px;
	font-size: 14px;
}

#headerLinks h2{
	font-size: 14px;
}

#content {
	clear: both;
	overflow: auto;
	padding-top: 29px;
	overflow:hidden;
}
/* Sidebar */
#content .okinoi {
	display:block;
	float: left;
	width: 20%;
	padding-left: 3%;
	padding-right: 3%;
	text-align: center;
	padding-top: 10px;
}

.closeButton{
	background-color: transparent;
    color: #ff0000;
    border-style: none;
    font-size: 12px;
    display: inline-block;
    margin-top: 6px;
	float: left;
}

#content .okinoi img{
	width:220px;
	margin-left:-18%;
}



.ul_menu{
	display:none;
}

/* Articulos */
#content .mainContent {
	float: left;
	width: 95%;
	text-align: center;
	padding-left: 2%;
	display:none;
}

/* home */
#content .mainHome {
	float: left;
	width: 100%;
	text-align: center;
	padding-left: 4%;
	display:block;
}
/* Menu */
#menubar {
	text-align: left;
	color: #FFFFFF;
	position: relative;
	left: 0%;
}
/* Content Web */
#mainWrapper {
	width: 95%;
	padding-left: 2.5%;
}
/* Menu elements */
.menu ul li {
	list-style-type: none;
	font-size: x-large;
	position: relative;
	left: -35px;
	padding-top: 12px;
}
/* Filas */
#content .mainContent .productRow {
	overflow: auto;
    color: rgba(146,146,146,1.00);
    width: 100%;
    padding-left: 2%;
}

/* Nombre Articulo */
.mainContent .productRow .productInfo {
	float: left;
    padding-left: 2%;
    padding-right: 2%;
    width: 20%;
	text-align:center;
	height: 360px;
}
/* Precio */
.productRow .productInfo .price {
	font-family: 'Montserrat', sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 22px;
	position: relative;
	top: 5px;
}

.cod_producto{
	display: block;
	width:100%;
	background-color:#F90315;
	height:25px;
	padding-top:5px;
	font-family: 'Montserrat', sans-serif;
	color: #FFFFFF;
	font-size: 14px;
	margin-top:0px;
	margin-bottom:5px;
	margin-left:0px;
	border-radius: 4px;
}

/* Content Catalogo*/
.productRow .productInfo .productContent {
	position: relative;
	font-size: 13px;
	font-style: normal;
	font-weight: 200;
	color: rgb(0, 0, 0);
	white-space: pre-wrap;
	height:48px;
}
/* Boton Comprar*/
.buyButton {
	font-family: 'Montserrat', sans-serif;
	position: relative;
	width: 100%;
	background-color: #777;
	height: 35px;
	color: rgba(255,255,255,1.00);
	border-style: none;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 8px;

}

.buyButton {
	border-radius: 4px;
}

.buyButtonBig {
	border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 0px;
    display: block;
    width: 85%;
    background-color: #777;
    height: 35px;
    color: rgba(255,255,255,1.00);
    border-style: none;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 70px;
	text-align: center;
}
.p30 {
    width: 85%!important;
	padding-top: 3px;
}
.h8 {
    padding-top: 8px!important;
    height: 27px!important;
}
.buyButtonBig:hover{
	background-color: #D30203;
	color: #fff!important;
}

.buyButtonB {
	border-radius: 4px;
	font-family: 'Montserrat', sans-serif;
	position: relative;
	top: 0px;
	width: 200px;
	background-color: #777;
	height: 35px;
	color: rgba(255,255,255,1.00);
	border-style: none;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 8px;
}
.buyButtonB:hover{
	background-color: #D30203;
}

.productRow .productInfo .buyButton:hover{
	background-color: #D30203;
}

tbody p {
	padding-left: 20px;
}



.whiteRow {
  color: #333;
  border-bottom: 1px solid #999;
  font-size: 12px;
  cursor: pointer;
}

.whiteRow_top {
  color: #333;
  border-bottom: 1px solid #999;
  font-size: 13px;
  cursor: pointer;
}

.totales {
	width: 1550px;
	display: block;
	position: absolute;
	text-align: right;
	margin-top: 40px;
}

.whiteRow3 {
	color: #333;
	font-size: 12px;
	cursor: pointer;
}

.folio_bottom {
	border-top: 2px solid #000;
}

.f_num{
	display: block;
	float: right;
	font-size: 12px;
	width: 100%;
	text-align: right;
}

.whiteRow3 td {
	padding-left: 10px;
	padding-top: 5px;
	font-size: 13px!important;
}

.whiteRow2 td {
	padding-left: 10px;
	padding-top: 5px;
	border: #999 solid 1px;
	font-size: 13px!important;
}

.whiteRow td {
	padding-left: 10px;
	padding-top: 5px;
	font-size: 12px!important;
}

.whiteRow_top td {
	padding-left: 10px;
	padding-top: 5px;
	border-bottom: #ccc solid 1px;
	font-size: 13px!important;
}
/*Each footer content */
#mainWrapper footer div {
	width: 27%;
	float: left;
	padding-left: 4%;
	padding-right: 2%;
	color: rgba(255,255,255,1.00);
	text-align: justify;
}

/* Imagenes */
.productInfo div img {
	width: 100%;
	max-height:100%;
}

.contentimg{
	height:220px;
}

.contentimg2{
	height:150px;
}

.celda{
	display:inline-block;
	padding-left:8px;
	font-size:12px;
	padding-bottom:10px;
	padding-top:5px;
}

.fila{
	width:99.75%;
	border: 1px #E8E8E8 solid;
}

.fila:hover{
	color:#D30203;
	cursor:default;
}

.fila a{
	text-decoration:none;
	color:#D30203;
	padding-left: 15%;
}

.rojo{
	color:#D30203;
	padding-left:10%;
}
/* PEDIDOS */

#content .mainPedidos{
	display:none!important;
	float: left;
	width: 70%;
	text-align: left;
	padding-left: 4%;
	display:block;
	font-family: 'Montserrat', sans-serif;
	color: #6A6A6A;
	font-size:14px;
}

/* LOGIN */

.mainLogin{
	display:block;
}

.login{
	display: block;
    width: 60%;
    text-align: left;
    padding-top: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #6A6A6A;
    font-size: 14px;
    margin: 0 auto;
}

.login input{
	width: 48%;
	border-radius: 0px;
	height: 42px;
	text-align: center;
	color: #474747;
	font-size: 14px;
	margin-bottom: 21px;
	font-family: 'Montserrat', sans-serif;
}

.login .buyButton {
	font-family: 'Montserrat', sans-serif;
	position: relative;
	top: -15px;
	width: 100%;
	background-color: #777;
	height: 35px;
	color: rgba(255,255,255,1.00);
	border-style: none;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 8px;
}

.login .buyButton:hover {
	background-color: #D30203;
}

.login p{
	widht:100%;
	text-align:center;
	color:#616161;
	font-size:14px;
}

/* MENU TOP */

.menu_top{
	display:none;
	width:100%;
	float:right;
	margin-top:-35px;
}


.menu_top_0{
	display:none;
	width:100%;
	float:right;
}

.menu_top .fa{
	font-size:22px;
	margin-top:-5px;
	margin-right:-10px;
}
.busqueda_top{
	display:block;
	width:100%;
	float:right;
	margin-top:10px;
}

.busqueda_top img{
	display:block;
	float:left;
	width:48px;
	margin-left:2%;
	cursor:pointer;
}

.menubar_top {
	text-align: center;
	color: #fff;
	display:block;
	height:auto;
	margin: 0 auto;
}

/* Menu Top elements */

.menu_top_sub li {
	list-style-type: none;
    display: block;
    padding: 20px;
    width: 400px;
    font-size: 10px;
    padding-right: 60px;
    background-color: #D30203;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
}

.menu_top_sub_2 li{
	list-style-type: none;
    display: block;
    padding: 20px;
    font-size: 10px;
    padding-right: 60px;
    background-color: #D30203;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
	width: 400px;
}
.menu_top_sub_2 ul li a{
	color: #fff;
	font-size: 16px;
}

.menu_top_sub_2 li:hover{
	background-color: #940000;
	cursor: pointer;
}

.menu_top_sub_2 ul {
	margin-top:62px;
	display: inline-block;
}

.home{
	width:40px !important;
	cursor:pointer;
}

a{
	text-decoration:none;
	color:#D30203;
	padding-left: 15%;
}
.menu_top_sub ul li a{
	color: #fff;
	font-size: 16px;
}

.menu_top_sub li:hover{
	background-color: #940000;
	cursor: pointer;
}

.menu_top_sub ul {
	margin-top:80px;
}

button{
	cursor:pointer;
}

button a {
	color: #fff;
	margin: 0 auto;
	padding-left: 0;
}

button a:hover {
	color: #fff;
}

/* Modal */

.modal-body img{
	display: block;
	float: right;
    opacity: 0.9;
}

.modal-header .cod_producto{
	padding-left:10px;
	width:93%;
}

.encdetalle{
	display: block;
	float: left;
	width: 500px;
	font-family: 'Montserrat', sans-serif;
	color: #616161;
}

.clidetalle{
	display: block;
	float: left;
	width: 500px;
	font-family: 'Montserrat', sans-serif;
	color: #616161;
	font-size: 12px;
}

.modal-body{
	overflow:auto;
}

.modal-content .buyButton{
	position: relative;
	top: -8px;
	width: 100%;
	background-color: #777;
	height: 35px;
	color: rgba(255,255,255,1.00);
	border-style: none;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}

.modal-content .half {
    width: 48% !important;
    margin-left: 6px !important;
}

.modal-content .buyButton:hover{
	background-color: #D30203;
	cursor: pointer;
}

.modal-content h2{
	font-size:16px;
	width: 45%;
	display:inline-block;
	padding-left:10px;
}

.margin_top_10 {
	margin-top: 22px!important;
}


/* CONTRASENIA */
.mainPass input{
	width: 100%;
	border-radius: 0px;
	height: 42px;
	text-align: center;
	color: #474747;
	font-size: 14px;
	margin-bottom: 21px;
	font-family: 'Montserrat', sans-serif;
}

.mainPass .buyButton {
	font-family: 'Montserrat', sans-serif;
	position: relative;
	top: 5px;
	width: 100%;
	background-color: #777;
	height: 35px;
	color: rgba(255,255,255,1.00);
	border-style: none;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 8px;
}

.mainPass .buyButton:hover {
	background-color: #D30203;
}

.mainPass h2{
	color:#D30203;
	font-size:16px;
	margin-bottom:20px;
}
.mainPass p{
	widht:100%;
	text-align:left;
	color: #626262;
	font-size:14px;
}



@media screen and (max-width:1325px) {
	/* MENU TOP */
	.menu_top_sub ul li a{
		font-size: 14px;
	}
	.menu_top_sub_2 ul li a{
		font-size: 14px;
	}

	.menu_top .fa {
    font-size: 21px;
	}
}

@media screen and (max-width:1225px) {
	/* MENU TOP */
	.menu_top_sub ul li a{
		font-size: 13px;
	}
	.abcdario a {
		font-size: 12px;
	}
	.menu_top .fa {
    	font-size: 20px;
	}

	#content .mainCategoria {
		width:90%;
	}

}


@media screen and (max-width:1810px) {
	/* MENU TOP */
	.menu_top .fa {
    	font-size: 18px;
	}
	.menu_top_sub ul li a{
		font-size: 14px;
	}

	.menu_top_sub_2 ul li a{
		font-size: 14px;
	}
}

@media screen and (max-width:1150px) {
	/* MENU TOP */

	.menu_top_sub ul li a{
		font-size: 13px;
	}
	.menu_top_sub_2 ul li a{
		font-size: 13px;
	}

}

@media screen and (max-width:1420px) {
	/* MENU TOP */
.factura_top_2 input {
    border-radius: 0px;
    height: 30px;
    text-align: center;
    color: #474747;
    font-size: 14px;
    margin-left: 5px;
    font-family: 'Montserrat', sans-serif;
    margin-top: -10px;
	}

.obs {
	width: 586px!important;
}
.factura_top_2 select {
	width: 450px;
    border-radius: 0px;
    height: 35px;
    text-align: center;
    color: #474747;
    font-size: 14px;
    margin-left: 5px;
    font-family: 'Montserrat', sans-serif;
    margin-top: -10px;
}

.factura_top_3 input {
    border-radius: 0px;
    height: 30px;
    text-align: center;
    color: #474747;
    font-size: 14px;
    margin-left: 5px;
    font-family: 'Montserrat', sans-serif;
    margin-top: -10px;
}
}



@media screen and (max-width:1295px) {
	/* MENU TOP */
.factura_top_2 select {
	width: 350px;
    border-radius: 0px;
    height: 35px;
    text-align: center;
    color: #474747;
    font-size: 14px;
    margin-left: 5px;
    font-family: 'Montserrat', sans-serif;
    margin-top: -10px;
}

.factura_top_2 input {
    width: 140px!important;
}


.obs {
	width: 423px!important;
}
}


@media screen and (max-width:1195px) {
	.home{
		width:30px !important;
	}
	.menu_top_sub ul li a {
		font-size: 13px;
	}
	.menu_top_sub_2 ul li a {
		font-size: 13px;
	}

}


@media screen and (max-width:950px) {

	.menu_top_sub ul li a {
    	font-size: 12px;
	}
	.menu_top_sub_2 ul li a {
    	font-size: 12px;
	}

}

@media screen and (max-width:900px) {



	/* Contenido */
	#content {
		position: relative;
		top: -22px;
		width: 100%;
		overflow: hidden;
	}
	#content .mainCategoria {
    	width: 90%;
	}

	.login {
	    width: 80% !important;
	}

	/*menu headings in sidebar */
	#menubar .menu h2 {
		display: inline;
		font-size: medium;
		padding-right: 6%;
	}
	/* Unordered List of links */
	#menubar .menu ul {
		display: inline;
	}
	/*list elements */
	#menubar .menu ul li {
		display: inline;
		font-size: medium;
		padding-left: 0%;
		padding-right: 3%;
	}

	.notimp {
		display: none;
	}
	/* menus in sidebar */
	#content .menu_top{
		width:100%;
	}

	#content .menu_top .notimp {
		display: block;
	}
	.sidebar #menubar .menu {
		width: 100%;
		text-align: center;
		position: relative;
		top: 16px;
	}

	.productRow .productInfo .buyButton {
		font-size: 15px;
	}

	#content .mainContentHome {
	    width: 100%;
	}

}

@media screen and (max-width:800px) {
 	.not {
    	display: none !important;
	}
	.menu_top_sub ul li a{
		font-size: 12px;
	}
	.menu_top_sub_2 ul li a{
		font-size: 12px;
	}
	#mainWrapper {
		width: 100%;
		padding-left: 0%;
	}
	.modal-body img {
		width: 92%;
		max-height: 100%;
	}
	#content .mainContent {
		width: 95% !important;
	}
	#content .mainContent .productRow{
		width: 100% !important;
	}
}

/*media query for small screen devices */
@media screen and (max-width:680px) {

	#mainWrapper {
		width: 100%;
		padding-left: 0%;
	}

	/* Links in header */
	header #headerLinks a {
		text-align: center;
		padding-right: 15px;
		padding-left: 0px;
	}
	.bar{
		width:100%;
	}

	/*Menu headings in sidebar */
	#menubar .menu h2 {
		width: 100%;
		display: block;
	}
	/* Each product in catalog view */
	.mainContent .productRow .productInfo {
		width: 45%;
		display: block;
		padding-left: 0px;
		padding-right: 0px;
		position: relative;
		margin-left: 2%;
	}

	/* Unordered list for menu elements */
	.menu ul {
		position: relative;
		padding-left: 24%;
	}

	/* Sin Sidebar */
	#mainwrapper #content .mainContent {
		margin-top: -81px;
		text-align: center;
		width: 100%;
		padding-left: 0px;
	}

}


@media screen and (max-width:600px) {
	#content .okinoi {
		display:block;
		float: left;
		width: 100%;
		text-align: center;
		padding-top: 20px;
	}

	.login {
	    width: 80% !important;
	}


	.login input{
		width: 100% !important;
	}

	.productRow .productInfo .productContent {
   		height: 50px;
	}
}

@media screen and (max-width:450px) {
	.modal-content .half {
		width: 92% !important;
		margin-left: 3px !important;
	}

	#headerLinks h2{
		font-size:10px !important;
	}

	.bar a{
		font-size:10px !important;
	}

	.buyButton{
		width:98% !important;
	}
	.mainContent .productRow .productInfo {
		width:100%;
		display: block;
		padding-left: 0px;
		padding-right: 0px;
		position: relative;
		margin-left: 2%;
	}
	.menubar_top li{
		width:40% !important;
	}
	.menubar_top a{
		font-size:12px!important;
	}
}

.red {
	display: block;
	width: 98%;
	background-color: #D30203!important;
	padding: 10px;
	padding-left: 15px;
	color: #fff;
	font-size: 14px;
	border-radius: 3px;
}

.redRow {
	background-color: #D30203;
	position: fixed;
	margin-top: 28px;
	width: 93.7%!important;
}

.redRow_pagos {
	background-color: #D30203;
	position: fixed;
	margin-top: 120px;
	width: 93.7%!important;
}

.redP {
  color: #D30203;
  cursor: pointer;
}

.redRow p{
  color: #fff!important;
  font-size: 13px;
}

.redRow_pagos p{
	color: #fff!important;
	font-size: 13px;
}


.fila {
  display: block;
  width: 100%;
  height: 40px;
}

.fila_50 {
	display: block;
	width: 100%;
	height: 51px;
}

.f7{
  float: left;
  display: inline-block;
  width: 6%;
}
.f8 {
	float: left;
	display: inline-block;
	width: 7%;
}
.f10{
	float: left;
	display: inline-block;
	width: 9%;
}

.f15{
  float: left;
  display: inline-block;
  width: 15%;
}

.f20{
  float: left;
  display: inline-block;
  width: 19%;
}

.f25{
  float: left;
  display: inline-block;
  width: 25%;
}

.f45{
  float: left;
  display: inline-block;
  width: 45%;
}

.tabla {
	display: block;
	width: 99.7%;
	border: 1px #eee solid;
	margin-top: 10px;
	margin-bottom: 10px;
}

.bottom {
  display: block;
  position: fixed;
  bottom: 0px;
  width: 89%;
  height: 50px;
  background-color: #fff;
  border-top: 1px #999 solid;
  left: 0;
  padding-left: 50px;
  padding-right: 40px;
  margin-left: 2.5%;
}

.bottom p {
  color: #333;
  float: left;
  display: inline-block;
  padding-left: 20px;
}

.bottom .link {
  cursor: pointer;
}

.bottom .link:hover {
  color: #D30203;
}

.botom input {
	padding: 5px;
    margin-top: -3px;
}

.botom_button {
	display: inline-block;
	background-color: #D30203;
	border-radius: 4px;
	height: 35px;
	color: rgba(255,255,255,1.00);
	border-style: none;
	font-size: 14px;
	padding: 5px;
	margin-top: 8px;
	text-transform: uppercase;
	cursor: pointer;
	width: 180px;
}

.botom_cta_cte {
	display: inline-block;
	background-color: #D30203;
	border-radius: 4px;
	height: 35px;
	color: rgba(255,255,255,1.00);
	border-style: none;
	font-size: 14px;
	padding: 5px;
	margin-top: 8px;
	text-transform: uppercase;
	cursor: pointer;
	width: 250px;
}

.botom_button:hover{
	background-color: #940000;
	cursor: pointer;
}

.tabla_button {
	color: #fff;
	background: #D30203;
	border: none;
	padding: 10px 20px;
	border-radius: 8px;
	width: 100px;
	font-size: 20px;
}

.tabla_button:hover{
	background-color: #940000;
	cursor: pointer;
}

.tabla_content {
	margin-top: 75px;
	margin-bottom: 33px;
	height: 500px;
	overflow-y: auto;
}

.tabla_content_pagos {
	margin-top: 162px;
	margin-bottom: 33px;
	overflow-y: scroll;
	overflow-x: hidden;
  height: 500px;
}

.factura_top {
	display: block;
    width: 82%;
    height: 50px;
    background-color: #fff;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 2.5%;
    border-top: 1px #999 solid;
    border-bottom: 1px #999 solid;
    margin-top: 15px;
    position: fixed;
}


.factura_top_2 {
	display: inline-block;
	height: 50px;
	background-color: #fff;
	margin-top: 20px;
	width: 100%;
}

.factura_top_2_pagos {
	display: inline-block;
	height: 50px;
	background-color: #fff;
	border-top: 1px #999 solid;
	width: 89%;
	top: 50px;
	position: fixed;
	left: 4%;
	z-index: 100;
}

.factura_top_3 {
	display: inline-block;
	height: 50px;
	background-color: #fff;
	padding-left: 50px;
	padding-right: 50px;
    padding-bottom: 5px;
	width: 25%;
}

.factura_top_3_pagos {
	display: inline-block;
	height: 50px;
	background-color: #fff;
	border-bottom: 1px #999 solid;
	width: 89%;
	top: 120px;
	position: fixed;
	left: 4%;
}

.top_container{
  width: 100%;
  height:auto;
  background-color: #fff;
}

.factura_top_2 p {
    color: #333;
    display: inline-block;
    padding-left: 5px;
}

.factura_top_3 p {
    color: #333;
    display: inline-block;
    padding-left: 5px;
}

.factura_top_2_pagos p {
	color: #333;
	display: inline-block;
	padding-left: 5px;
}

.factura_top_3_pagos p {
	color: #333;
	display: inline-block;
	padding-left: 5px;
}

.factura_top p {
  color: #333;
  float: left;
  display: inline-block;
  padding-left: 20px;
}
.factura_1 {
	bottom: 50px!important;
}

.factura_2 {
	bottom: 100px!important;
}

.columna input {
	width: 60%;
    display: block;
    padding: 5px;
    margin-top: 5px;
}

.input_tabla {
    margin-left: 20px;
}

.input_tabla_porc {
	width: 50%;
    margin-left: 20px;
}

.porc{
    float: right;
    display: block;
    margin-top: -20px;
}

.right {
  float: right!important;
}

.row {
	display: block;
	width: 100%;
	padding: 8px;
	background-color: #eee;
	color: #bb0000;
	font-size: 13px;
}

.top{
	background-color: #D30203;
	color: #fff;
}

.row:hover {
	cursor: pointer;
	color: #fff;
	background-color: #D30203;
}

.w15 {
	display: inline-block;
	width: 15%;
	margin-left: 1%;
}

.w35 {
	display: inline-block;
	width: 35%;
}

.w30 {
	display: inline-block;
	width: 30%;
}

.w22 {
	display: inline-block;
	width: 20%;
}

.pad_left {
	padding-left: 55px;
}

.pad_left_small {
	padding-left: 15px;
}

.w20 {
	display: inline-block;
	width: 18%;
}

.colorRed {
	color: #bb0000!important;
}

.notMobile {
	display: block;
}

.factura_header {
	display: block;
	width: 524px;
	height: 162px;
}

.libro_viajantes_header {
	display: inline-block;
	width: 100%;
	height: 30px;
	padding-left: 5px;
}


.libro_viajantes_header_bottom {
	display: block;
    width: 1044px;
    height: 42px;
    margin-top: 25px;
    padding-left: 5px;
    border: 1px solid #000;
}

.primer_row {
	display: block;
    width: 100%;
    height: 0px;
    margin-top: 25px;
}

.libro_viajantes_header p {
	display: inline-block;
}

.col_1 {
	width: 390px;
}
.col_2 {
	width: 300px;
}
.col_3 {
	width: 340px;
}
.bottom_libro_viajantes{
	display: block;
	float: right;
	width: 400px;
	border: 1px solid #000;
	margin-top: 20px;
	padding-left: 20px;
}
.factura_header2 {
	display: block;
	width: 524px;
	height: 162px;
}

.factura_header2 p{
	margin-top: -10px;
	font-size: 13px;
	padding-left: 10px;
}

.factura_header3 {
	display: block;
	width: 600px;
	height: 162px;
}

.factura_header3 p{
	margin-top: -10px;
	font-size: 13px;
	padding-left: 10px;
}
.factura_header4 {
	display: block;
	width: 400px;
	height: 162px;
}

.factura_header4 p{
	margin-top: -10px;
	font-size: 13px;
	padding-left: 10px;
}

.factura_top_content {
	display: inline-block;
	width: 1050px;
}

.top_ley {
	display: block;
	width: 1050px;
	border-bottom: 1px solid #333;
	text-align: center;
	font-size: 20px;
}
.top_empleador {
	display: block;
	width: 1050px;
    text-align: left;
    font-size: 14px;
}


.top_ley_cliente {
	display: inline-block;
	width: 1050px;
	border: 1px solid #333;
	text-align: left;
	font-size: 14px;
	height: 110px;
}

#mainFactura {
	width: 1050px;
	padding:0px;
	margin: 0 auto;
}

@media print {
	#mainFactura {
		-webkit-print-color-adjust: exact;
	}
}

.left {
	float: left!important;
	border-right: 1px solid #333;
}

.left2 {
	float: left!important;
}

.factura_bottom_2 {
	display: inline-block;
	width: 1050px;
	border: 1px solid #333;
	height: 27px;
}

.factura_bottom {
	display: inline-block;
	width: 1050px;
	border: 1px solid #333;
	height: 52px;
}
.factura_bottom_top {
	display: inline-block;
	width: 1050px;
	border: 1px solid #333;
	height: 70px;
}
.header_zocalo {
	font-size: 12px;
}
.presupuesto_top_content {
	text-align: center;
	background-color: #ddd;
	padding: 3px;
	width: 1046px;
	margin-bottom: 5px;
	font-weight: 100;
	font-size: 12px;
}
.presupuesto_bottom_top {
	display: inline-block;
	width: 1050px;
	border: 1px solid #333;
	height: 110px;
}

.block {
	width: 29%;
	display: inline-block;
	height:auto;
	padding: 10px;
}

.block img{
	width: 81px;
    height: auto;
    margin-left: 25px
}
.border2 {
	border: 1px solid #999;
	font-size: 12px;
    padding: 0px 5px 0px 6px;
    width: 65px;
	float: right;
}

.inner_factura {
	font-size: 13px;
	width: 100%;
	padding: 10px;
	margin-top: -20px;
}
.inner_factura p{
	margin-top: -10px;
}

.inner_factura_top {
	font-size: 13px;
	width: 100%;
	padding: 10px;
	padding-left: 20px;
}

.border {
	border: 1px solid #999;
	font-size: 18px;
    padding: 10px 14px 0px 10px;
	width: 10px;
	float: right;
}

.margin_top_20 {
	display: block;
	margin-top: 20px!important;
}

.factura_1 b {
	margin-right: 30px;
}

.obs {
	width: 687px;
}

.f5 {
	float: left;
	display: inline-block;
	width: 5%;
}

.presupuesto_bottom {
	margin-top: 50px;
}

i {
	color: #dd0000;
	font-size: 14px;
}

.busqueda {
	width: 95%;
	border-radius: 0px;
	height: 42px;
	text-align: center;
	color: #474747;
	font-size: 14px;
	margin-bottom: 21px;
	font-family: 'Montserrat', sans-serif;
}


.mainIVA{
	width: 100%;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	height: auto;
	display: block;
}

.iva_top{
	height: 90px;
	text-align: center;
	display: block;
	font-size: 12px;
	border-top: 2px solid #000;
}

.title{
	margin-top: -14px;
    margin-bottom: -14px;
}

.subtitle{
	border-bottom: 2px solid #000;
}

.subtitle p {
	border-bottom: 1px solid #a9a9a9;
    padding-bottom: 5px;
	
    padding-top: 5px;
	border-top: 1px solid #a9a9a9;
}

.subtitle h2 {
	margin-top: -10px;
    margin-bottom: 0px;
}