@import '~variables'

*
    font-size 10pt

.top-bg
    position fixed
    width 100%
    height 50vh
    background-color $primary
    top 0
    left 0
    z-index -1

.comp-link
    color inherit
    text-decoration none

    &:hover
        color $secondary

.login-wrapper
    height 100vh
    display flex
    align-items center
    justify-content center

.login-card
    max-width 380px
    margin 20px
    padding 30px
    background-color #fff
    border-radius 8px
    box-shadow 0 0 30px rgba(0, 0, 0, 0.5)

    .login-card-header
        text-align center
        padding 10px 10px 30px 10px

        img.login-icon
            max-width 100px
            margin-bottom 20px

.toolbar-fixed
    position fixed
    z-index 9

.wrapper
    padding-top 50px

.buscador
    padding 20px
    border-bottom 1px solid #aaa

.divider
    margin-top 30px
    text-transform uppercase
    text-align center
    background-color #ccc
    padding 5px

.drawer-img
    background-color #ffffff
    text-align center
    border-bottom 1px solid #ccc
    padding 20px

.drawer-item .q-item-label
    text-transform uppercase
    font-size 10pt
    font-weight 500
    color #333

.drawer-item.router-link-active
    .q-item-label, .q-item-icon
        color $primary
        font-weight 500

.modal-title
    font-weight bold
    text-transform uppercase
    color #333
    padding 10px 0
    margin-bottom 20px
    font-size 18px

    @media (max-width: 575px)
        font-weight 500
        font-size 15px
        text-align center
        margin-bottom 10px

    .descrip
        b
            font-weight 400
            font-size 15px

        margin 5px 0
        display block
        font-weight 300
        font-size 15px

        @media (max-width: 575px)
            margin-top 20px
            border-top 1px dashed #aaaaaa
            padding-top 20px
            font-size 15px

.inputs
    @media (max-width: 575px)
        padding 20px

        .q-input
            font-size 10pt

.container.cart-bg
    min-height 89.5vh

.account-menu .q-item-label
    font-size 10pt
    color #555
    font-weight 500

.input-cantidad
    padding 5px
    width 80px
    margin 8px
    text-align center
    border 1px solid #aaa
    outline none

.img-order
    height 50px

.order-table
    width 100%
    border-collapse collapse

    thead
        tr
            th
                font-weight 500
                background-color #f7f7f7
                padding 5px
                border-bottom 1px solid #aaa
                font-size 10pt
                color #555

    tbody
        font-size 10pt

        tr
            td
                padding 5px
                border-bottom 1px solid #ccc

.img-dialog
    height 200px
    max-width 100%
    padding 20px

    @media (max-width: 400px)
        height 100px

.container
    padding 20px

.card-item
    width 100%
    position relative
    text-align center
    font-weight bold

    .promo
        padding 3px
        background-color $primary
        color #fff
        position absolute
        z-index 99
        width 100%

    .card-title
        margin-top 10px
        padding 10px 0
        display block
        margin-bottom 0

        .card-codigo
            font-size 18px
            color #888888
            font-weight 600
            text-align center

        .product-into
            text-align center
            margin-top 10px

            i
                font-size 20px
                margin 5px

    .card-media
        height 150px
        padding 10px 0

        .img-container
            display flex
            justify-content center
            align-items center
            height 100%
            width 100%

            img
                max-height 100%
                max-width 100%
                position absolute

    .card-descripcion
        justify-content center
        text-align center
        height 50px

    .card-precio
        text-align center
        justify-content center
        font-size 18px
        color #888
        font-weight bold

        &::before
            content 'U$S'
            margin-right 10px

    .card-precioAr
        text-align center
        justify-content center
        font-size 18px
        color #888
        font-weight bold

        &::before
            content '$AR'
            margin-right 10px

.section-title
    text-align center
    font-size 20px
    font-weight 300
    background-color #f7f7f7
    padding 10px
    position relative
    margin-bottom 20px

    i
        position absolute
        left 20px
        top 12px
        color #555

.separator
    height 25px

.btn-carrito
    border-radius 0

#user-sublabel
    text-transform capitalize

.dropdown-menu-card
    .q-btn-dropdown-arrow
        display none

.img-fluid
    max-width 100%

.nota
    display flex
    align-items center
    color darken($info, 20%)
    background-color lighten($info, 80%)
    border 1px solid
    padding 0 10px

    i
        font-size 30px
        margin 10px

p
    padding 10px
    margin 0
    display flex
    align-items center
    font-weight 500

.step-navigation-bar
    position relative
    height 60px

.q-stepper-nav
    position absolute
    right 10px
    padding 0
    margin 0

.img-preview-container
    min-height 200px
    display flex
    align-items center
    justify-content center

fieldset
    border 1px solid #ccc
    margin 10px 10px 20px 10px

.agenda-finder
    padding 5px 10px 10px 10px

.metodos-envio, .medios-pago
    ul
        list-style none

        li
            margin 10px 0

.product-title
    text-align center
    font-size 20px
    border-bottom 1px solid #ccc
    padding 10px
    color #555

.splash
    height 100vh
    position fixed
    top 0
    width 100%

    .info
        color #555
        border-radius 10px
        text-align center
        width 100%

        .info-title
            font-weight 500
            font-size 20px
            text-transform uppercase

            .btn-goto
                text-align center
                border-top 1px solid
                border-bottom 1px solid
                padding 10px
                margin 10px 0 0 0
                cursor pointer
                transition all 0.3s ease

                &:hover
                    background-color #e8e8e8

.ml-indicators
    text-align right
    padding 10px
    background-color #c8c8c8
    position fixed
    width 100%
    z-index 99

    .prod-desc
        float left

.card-pedido
    .card-media
        height 170px

        .img-container
            display flex
            height 100%
            max-width 100%
            align-items center
            justify-content center

            img
                height 100%

.search-wrapper
    padding 10px

.cart-details
    @media (max-width: 450px)
        display none

.schedule-actions
    position relative

    .btn-cart
        position absolute
        right 10px

.with-units
    width 70%
    float left

.units
    width 30%
    float left

.custom-shipping
    .add-custom-shipping
        margin 0 0 0 10px

    .shipping-list
        margin 10px 0

.q-tabs
    border-radius 0

.cart-resume
    padding 10px
    background-color #c7c7c7

    ul
        list-style none
        padding 0
        margin 0

        li
            display inline-table
            margin 0 10px
            padding 3px 15px

.fade-enter-active, .fade-leave-active
    transition-duration 0.3s
    transition-property opacity
    transition-timing-function ease

.fade-enter, .fade-leave-active
    opacity 0

$promo-hightlight = $yellow-5

.promo-hightlight
  background-color $promo-hightlight

  &:hover
    background-color darken($promo-hightlight, 20%)

.hightlight-doc
  display inline-block
  border 1px solid #000
  width 30px
  height 10px
  margin-right 10px
  
  &.promo
    background-color $promo-hightlight
