<template>
  <div id="q-app">
    <loading :visible="loading" caption="Por favor, espere ..."/>
    <screen-block :state="$store.state.main.connection" />
    <router-view/>
  </div>
</template>

<script>
import Loading from 'src/components/AppLoading'
import ScreenBlock from 'src/components/AppScreenBlock'
export default {
  name: 'App',
  components: {
    Loading,
    ScreenBlock
  },
  data() {
    return {
      loading: false
    }
  },
  methods: {
    getVersion() {
      const version_cache = localStorage.getItem('version_cache')

      this.$database.ref('sistema/versiones/eShop').on('value', snap => {
        const version = snap.val()
        this.$store.commit('main/version', version)

        if (version_cache != version) {
          localStorage.setItem('version_cache', version)
          this.$q
            .dialog({
              title: 'Actualizar',
              message: 'El programa requiere actualización. A continuación se procederá a reiniciar la aplicación.'
            })
            .then(() => {
              window.location.reload(true)
            })
        }
      })
    }
  },
  created: function() {
    this.getVersion()
    this.$auth.onAuthStateChanged(user => {
      if (user) {
        const usuario = user.email.split('@')[0]

        this.$database
          .ref(`datos/usuarios/${usuario}`)
          .once('value')
          .then(res => {
            const userData = res.val()

            if (userData.id) {
              userData.key = res.key

              this.$store.commit('main/usuario', userData)
              this.$store.commit('history/pageSize', userData)
              this.$store.dispatch('main/connectionState')
              this.$store.dispatch('main/loadOrder')
              this.$store.dispatch('main/loadSchedule')
              this.$store.dispatch('main/getClientData')
              this.$store.dispatch('main/getTransportes')

              console.log('Login correcto, redirigiendo al catálogo')
              this.$router.push('catalogo')
            } else {
              this.$auth.signOut()
              this.$q.notify({
                message: 'Su usuario se encuentra inhabilitado para el nuevo eShop. Solicite acceso a Okinoi.',
                type: 'negative'
              })
            }
          })

        this.$store.dispatch('main/articulos')

        this.$database.ref('dolar/Z/col1').on('value', snapshot => {
          this.$store.commit('main/dolar', parseFloat(snapshot.val()))
        })
      } else {
        this.loading = false
        this.$router.push('/login')
      }
    })
  }
}
</script>
