<template>
  <q-layout view="lHh Lpr lFf">
    <q-layout-header>
      <q-toolbar color="primary" id="toolbar-header">
        <q-btn flat dense round @click="leftDrawerOpen = !leftDrawerOpen">
          <q-icon name="menu"/>
        </q-btn>

        <q-toolbar-title id="toolbar-title">
          {{ $route.meta.title }}
          <div slot="subtitle">E-Shop v{{ $store.state.main.version }}</div>
        </q-toolbar-title>

        <finder/>
      </q-toolbar>
    </q-layout-header>

    <q-layout-footer>
      <q-toolbar color="grey-10">
        <q-toggle
          label="Precios en $AR"
          v-model="preciosAr"
          color="primary"
          style="font-size: 10pt"
        />
        <q-toolbar-title>
          <div
            class="leyenda-iso"
          >Antes de solicitar su pedido consulte stock. La entrega del producto está sujeta a disponibilidad.
            <br>Contactos: 0351-4751339 / 4864225 / 4864242
          </div>
        </q-toolbar-title>
        <q-btn
          outline
          title="Ver Pedido"
          @click="$router.push('/pedido')"
          icon="shopping_cart"
          color="white"
          class="btn-carrito cursor-pointer"
          :disable="!totalItems"
        >
          <span class="cart-details" v-if="totalItems">{{ totalItems }} Items - {{ totalCarrito }}</span>
          <q-spinner-dots v-else/>
        </q-btn>
      </q-toolbar>
    </q-layout-footer>

    <q-layout-drawer v-model="leftDrawerOpen" content-class="bg-white" overlay>
      <q-list no-border link inset-delimiter>
        <div class="drawer-img">
          <img src="statics/drawer_logo.jpg">
        </div>
        <q-list-header align="center">Menú de Opciones</q-list-header>
        <q-item :link="true" to="/catalogo" class="drawer-item">
          <q-item-side icon="search"/>
          <q-item-main label="Catalogo"/>
        </q-item>
        <q-item :link="true" to="/agenda" class="drawer-item">
          <q-item-side icon="star"></q-item-side>
          <q-item-main label="Agenda"/>
          <q-item-side v-show="articulosAgenda > 0">
            <q-chip color="primary" dense square>{{ articulosAgenda }}</q-chip>
          </q-item-side>
        </q-item>
        <q-item :link="true" @click.native="goto('pedido', totalItems)" class="drawer-item" :disabled="!totalItems">
          <q-item-side icon="search"/>
          <q-item-main label="Pedido Actual"/>
          <q-item-side v-show="articulosPedido > 0">
            <q-chip color="primary" dense square>{{ articulosPedido }}</q-chip>
          </q-item-side>
        </q-item>
        <q-item :link="true" to="/facturas" class="drawer-item">
          <q-item-side icon="account_balance"/>
          <q-item-main label="Facturas"/>
        </q-item>
        <q-item :link="true" to="/consulta" class="drawer-item">
          <q-item-side icon="history"/>
          <q-item-main label="Historial de Pedidos"/>
        </q-item>
        <q-item :link="true" @click.native="openLink('https://firebasestorage.googleapis.com/v0/b/okinoi-94a39.appspot.com/o/documentacion%2FE-SHOP%20v4.pdf?alt=media&token=739bb93c-e99c-4e0b-ad6f-dc68bd737864')" class="drawer-item">
          <q-item-side icon="help"/>
          <q-item-main label="Ayuda"/>
        </q-item>
        <q-item @click.native="logout" class="drawer-item">
          <q-item-side icon="power settings new"/>
          <q-item-main
            label="CERRAR SESIÓN"
            id="user-sublabel"
            :sublabel="$store.state.main.usuario.nombre"
          />
        </q-item>
      </q-list>
    </q-layout-drawer>
    <q-page-container>
      <transition name="fade" mode="out-in">
        <router-view/>
      </transition>
    </q-page-container>
  </q-layout>
</template>

<script>
import { mapGetters } from 'vuex'
import Finder from 'src/components/AppFinder'

function numberFormat(currency, value) {
  return new Intl.NumberFormat('es-AR', {
    style: 'currency',
    currency: currency,
    minimumFractionDigits: 2,
    maximumFractionDigits: 2
  }).format(value)
}

export default {
  name: 'LayoutDefault',
  components: {
    Finder
  },
  data() {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop,
      vendedor: false
    }
  },
  methods: {
    goto(route, enabled) {
      if (enabled) {
        this.$router.push('/' + route)
      }
    },
    openLink(href) {
      window.open(href)
    },
    logout() {
      this.$auth.signOut()
    },
    getArticulos() {
      return this.$database
        .ref('datos/search/articulos')
        .once('value')
        .then(res => {
          const articulosObj = JSON.parse(res.val())
          const articulosArr = []
          const promises = []
          for (let x in articulosObj) {
            promises.push(
              this.getPrecio(x).then(precio => {
                const articulo = {
                  codigo: x,
                  descripcion: articulosObj[x],
                  precio: precio
                }
                articulosArr.push(articulo)
              })
            )
          }
          return Promise.all(promises).then(() => articulosArr)
        })
    },
    getPrecio(codigo) {
      return this.$database
        .ref(`datos/articulos/${codigo}/precio`)
        .once('value')
        .then(res => parseFloat(res.val()))
    }
  },
  computed: {
    itemsSchedule() {
      const items = this.$store.getters['main/itemsSchedule']
      return items
    },

    totalItems() {
      let items = false
      if (this.$store.state.main.pedido.articulos) {
        items = this.$store.state.main.pedido.articulos.length.toString()
      }
      return items
    },

    totalCarrito() {
      let total = this.$store.getters['main/totalCarrito']
      let final
      if (this.$store.state.main.preciosAr) {
        final = total * this.$store.state.main.dolar
        return numberFormat('ARS', final)
      } else {
        final = total
        return numberFormat('USD', final)
      }
    },

    usuarioVendedor() {
      return (
        Object.keys(this.$store.state.main.usuario).length &&
        this.$store.state.main.usuario.nivel_acceso >= 3 &&
        this.$store.state.main.usuario.tipo !== 'encargado'
      )
    },

    articulosAgenda() {
      const agenda = this.$store.state.main.agenda.articulos
      let cantidad = 0
      if(agenda) cantidad = agenda.length
      return cantidad
    },

    articulosPedido() {
      const pedido = this.$store.state.main.pedido.articulos
      let cantidad = 0
      if(pedido) cantidad = pedido.length
      return cantidad
    },
    preciosAr: {
      get() {
        return this.$store.state.main.preciosAr
      },
      set() {
        this.$store.commit('main/togglePreciosAr')
      }
    }
  },
  watch: {
    // observo cambios en la agenda para guardar automáticamente
    itemsSchedule(newValue, oldValue) {
      const schedule = this.$store.state.main.agenda
      const user_key = this.$store.state.main.usuario.key
      this.$database.ref(`datos/usuarios/${user_key}/agenda`).set(schedule)
    }
  },
  filters: {
    currency(val) {
      return new Intl.NumberFormat('es-AR', {
        style: 'currency',
        currency: 'USD',
        minimumFractionDigits: 2,
        maximumFractionDigits: 2
      }).format(val)
    }
  }
}
</script>

<style lang="stylus" scoped>
.leyenda-iso
  font-size 13px
  color #fff
  padding 5px
  text-align center

  @media screen and (max-width: 960px)
    display none
</style>
