<template>
  <div class="login-wrapper">
    <div>
      <div class="top-bg"></div>
      <div class="login-card">
        <div class="login-card-header">
          <div class="login-logo-wrapper">
            <img src="statics/icons/icon-128x128.png" class="login-icon">
          </div>
          <div class="login-title">OKINOI E-SHOP
            <div class="subtitle">Exclusivo Clientes</div>
          </div>
        </div>

        <div class="row gutter-md">
          <div class="col-xs-12">
            <q-input
              float-label="Usuario"
              v-model="user.email"
              @focus="$event.target.select()"
              @blur="completeEmail($event.target.value)"
            />
          </div>
          <div class="col-xs-12">
            <q-input
              type="password"
              float-label="Contraseña"
              v-model="user.password"
              @keyup.enter="login"
            />
          </div>
        </div>
        <div class="text-center" style="margin-top: 30px">
          <q-btn color="primary" @click="login" class="full-width">
            <span v-if="!loadingLogin">INGRESAR</span>
            <q-spinner-dots v-else/>
          </q-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Loading from 'src/components/AppLoading'
export default {
  components: {
    Loading
  },
  data() {
    return {
      user: {
        email: '',
        password: ''
      },
      loadingLogin: false
    }
  },
  methods: {
    login() {
      this.loadingLogin = true
      this.$auth
        .signInWithEmailAndPassword(this.user.email, this.user.password)
        .catch(err => {
          this.loadingLogin = false
          this.$q.notify({
            message:
              'Ocurrió un error al iniciar sesión. Verifique los datos ingresados.',
            color: 'negative'
          })
        })
    },
    completeEmail(value) {
      let user_name = value.replace(' ', '_').toLowerCase()
      if (user_name.search('@') === -1) {
        user_name += '@okinoi.com'
      }
      this.user.email = user_name
    }
  },
  created() {
    this.$auth.onAuthStateChanged(user => {
      if (!user) {
        this.$store.commit('main/clientData', {})
        this.$store.commit('main/usuario', {})
        this.$store.commit('main/clearCart')
        this.$router.push('/login')
        MELI.logout()
        this.loadingLogin = false
      }
    })
  }
}
</script>
